$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';


#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	  max-width: 1440px;
	  padding: 0 20px;
	  margin: 0 auto;

	  @include media('<tablet') {
		padding: 0 15px;
	}
}

img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

a {
	transition: all 0.4s ease;
	text-decoration: none;
}


.btn {
	background: $golden;
	font-size: 16px;
	text-align: center;
	padding: 10px 25px;
	text-decoration: none;
	color: $white;
	position: relative;
	z-index: 2;
	letter-spacing: 1px;
	border-radius: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;

	@include media('<tablet') {
		font-size: 16px;
	}

	&:before {
		position: absolute;
		content: '';
		width: 0;
		height: 150%;
		background: linear-gradient(277.42deg, $dk-golden -0.72%, $golden 100%);
		left: 0;
		top: 0;
		z-index: -1;
		transition: all 0.4s ease;
	}

	&:hover {
		&:before {
			width: 100%;
			border-radius: 8px;
		}
	}

	&.btn-dark {
		color: $white;
		background: $dk-golden;
	}

	&.btn-lg {
		@include media('>=tablet') {
			font-size: 18px;
			padding: 15px 35px;
			min-width: 240px;
		}
	}
}

.logo {
	display: block;
	position: relative;
	width: 230px;

	@include media('<desktop') {
		width: 180px;
	}
}

.fixed-position {
	.header {
		background: #fff;
		padding: 10px 0;
		box-shadow: 0 2px 8px 0 rgba(51, 51, 51, 0.08);
	}
}

.nav-active {
	@include media('<tablet') {
		overflow: hidden;
	}
}

.header {
	padding: 15px 0;
	position: relative;
	z-index: 11;
	transition: all 0.4s ease;
	left: 0 !important;

	.nav-active & {
		@include media('<tablet') {
			left: -80% !important;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
}

.nav-holder {
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	position: relative;

	@include media('<tablet') {
		padding: 23px 0;
		width: 80%;
		right: 0;
		top: 0;
		bottom: 0;
		background: #fff;
		position: fixed;
		display: block;
		transition: all 0.4s ease;
		transform: translate(100%, 0);
		overflow: auto;

		.nav-active & {
			transform: none;
			box-shadow: -2px 0 20px rgba(#000, 0.2);
		}
	}

	.btn {
		@include media('<tablet') {
			margin: 20px 0 0 24px;
		}
	}

	.btn-holder {
		@include media('<tablet') {
			width: 100%;
		}
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	list-style: none;
	margin: 0;
	padding: 0 16px 0 0;

	@include media('<desktop') {
		padding: 0 10px 0 0;
	}

	@include media('<tablet') {
		display: block;
	}

	li {
		padding: 0 16px;

		@include media('<desktop') {
			padding: 0 10px;
		}

		@include media('<tablet') {
			padding: 12px 24px;
			border-bottom: 1px solid #f2f2f2;
		}
	}

	a {
		text-decoration: none;
		color: $golden;
		transition: all 0.4s ease;

		&:hover {
			color: $lt-golden;
		}
	}
}

.visual-block {
	overflow: hidden;
	position: relative;
	padding: 75px 0;

	.bg-visual {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $lt-black;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: linear-gradient(to right,  rgba(143,106,46,0.25) 0%,rgba(143,106,46,0.1) 35%,rgba(143,106,46,0.1) 65%, rgba(143,106,46,0.25) 100%);
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
			mix-blend-mode: revert;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;

		@include media('<tablet') {
			flex-wrap: wrap;
		}
	}

	.text-holder {
		width: 47%;
		display: flex;
		justify-content: center;
		flex-direction: column;

		@include media('<tablet') {
			width: 100%;
			margin: 0 0 50px;
		}

		.text-holder {
			width: 100%;
		}
	}

	h1 {
		line-height: 1;
		margin: 0 0 50px;
		color: $white;
		letter-spacing: 2px;

		@include media('<widescreen') {
			font-size: 40px;
			margin: 0 0 40px;
		}

		@include media('<tablet') {
			font-size: 25px;
		}

		.text-large {
			color: $golden;
			font-size: 150px;
			display: block;
			text-transform: uppercase;
			font-family: $Poppins-Font;
			padding: 0 0 5px;
		}
	}

	.image-holder {
		width: 50%;
		padding: 0;
		position: relative;
		background: rgba(216, 145, 3, 0.35);
		position: relative;
		padding: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30% 5% 30% 5%;
		box-shadow: 0 0 75px rgba(231, 164, 76, 0.5);

		@include media('<tablet') {
			width: 100%;
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 150px;
			height: 150px;
			border-radius: 100%;
			border-width: 5px;
		}

		&:before {
			left: -15px;
			top: -15px;
			border-style: solid dotted dotted solid;
			border-color: $golden $dk-golden $dk-golden $golden;
		}

		&:after {
			right: -15px;
			bottom: -15px;
			border-style: dotted solid solid dotted;
			border-color: $dk-golden $golden $golden $dk-golden;
		}

		.img-wrap {
			width: 100%;
			height: 100%;
			border-radius: 100%;
			overflow: hidden;
			border-radius: 10% 30% 10% 30%;
			box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
				mix-blend-mode: color-dodge;
			}
		}
	}
}

.section {
	overflow: hidden;
	padding: 100px 0;
}

.section-header {
	overflow: hidden;
	text-align: center;
	margin: 0 0 60px;
	font-size: 18px;
	letter-spacing: 2px;

	h2 {
		margin: 0 0 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		margin: 0 0 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.grid-list {
	list-style: none;
	padding: 0;
	margin: -10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	li {
		width: 20%;
		padding: 10px;

		&:nth-child(even) {
			.validator-box {
				.icon {
					border-radius: 10px 30px 10px 30px;

					&:before {
						left: auto;
						right: -10px;
						border-color: $dk-golden $dk-golden $golden $golden;
					}

					&:after {
						right: auto;
						left: -10px;
						border-color: $golden $golden $dk-golden $dk-golden;
					}
				}
			}
		}
	}
}

.validator-box {
	text-align: center;
	border-radius: 15px;
	background: #1b1b1b;
	padding: 35px 25px 30px;
	box-shadow: 6px 6px 24px 2px rgba(0,0,0,0.50);

	.icon {
		width: 100px;
		height: 100px;
		padding: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $dk-golden;
		border-radius: 30px 10px 30px 10px;
		margin: 0 auto 25px;
		box-shadow: 0 0 15px rgba(231, 164, 76, 0.5);
		position: relative;

		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 35px;
			height: 35px;
			border-radius: 100%;
			border-width: 2px;
			z-index: 1;
		}

		&:before {
			left: -10px;
			top: -10px;
			border-style: solid dotted dotted solid;
			border-color: $dk-golden $golden $golden $dk-golden;
		}

		&:after {
			right: -10px;
			bottom: -10px;
			border-style: dotted solid solid dotted;
			border-color: $golden $dk-golden $dk-golden $golden;
		}
	}

	.textbox {
		overflow: hidden;
	}

	h3 {
		margin: 0 0 10px;
		letter-spacing: 2px;
	}

	p {
		font-size: 14px;
		color: #bda57e;
		margin: 0 0 25px;
	}
}

.our-team {
	padding: 150px 0;
 
	@include media('<widescreen') {
		padding: 80px 0 40px;
	}

	.h1 {
		color: #1E2845; 
		line-height: 1;
		text-align: center;
		margin: 0 0 80px;

		@include media('<widescreen') {
			margin: 0 0 60px;
		}
	}

	.team-wrap {
		display: flex;
		justify-content: space-between;

		@include media('<desktop') {
			flex-wrap: wrap;
		}
	}

	.card {
		padding: 0 40px;
		background: #FFFFFF;
		box-shadow: 0 25px 50px rgba(0, 0, 0, 0.05);
		border-radius: 4px;
		text-align: center;
		padding: 50px 90px;
		transition: all 0.4s ease;
		width: 33.333%;

		@include media('<desktop') {
			width: 50%;
			margin: 0 0 60px;

			&:last-child {
				margin: 0 auto;
			}
		}

		@include media('<tablet') {
			width: 100%;
			margin: 0 0 50px;
			padding: 30px 0;
		}

		&:hover {
			transform: translateY(-5px) !important;
		}
	}

	.profile-image {
		width: 180px;
		height: 180px;
		border-radius: 50%;
		border: 2px solid #B7C0EB;
		padding: 15px;
		text-align: center;
		display: inline-block;

		img {
			border-radius:100%;
		}
	}

	.name {
		display: block;
		padding: 30px 0 0;
		font-size: 24px;
		line-height: 27px;
		color: #1E2845;
	}

	.desigantion {
		display: block;
		margin-bottom: 12px;
	}

	.info {
		display: block;
		margin: 0 0 10px;
	}

	.social-networks {
		justify-content: center;

		li {
			padding: 0 10px;
		}

		.fab {
			color: $light-blue;
			font-size: 28px;

			&:hover {
				color: $mediumslateblue;
			}
		}
	}
}

.footer {
	background: #2c2e34;
	padding: 30px 0;
	color: $white;
	text-align: center;

	@include media('<tablet') {
			padding: 15px 0;
		}
	
	p {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: #fff;

		&:hover {
			color: $cyan;
		}
	}
}

.social-networks {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

	@include media('<tablet') {
		justify-content: center;
		width: 100%;
	}

	li {
		padding: 0 10px;
	}

	a {
		color: $white;

		&:hover {
		  color: $mediumslateblue;
		}
	}

	.fab {
		font-size: 24px;
	}
}


.stake_now {
    padding: 100px 0;

    @include media('<tablet') {
    	padding: 50px 0 0;
    }

    .stake-area {
    	text-align: center;
      margin: 0 0 100px;

      @include media('<tablet') {
      	margin: 0 0 50px;
      }
	}

	h2 {
	    color: $light-blue;
	    margin: 0 0 40px;
	    line-height: 1;

	    @include media('<tablet') {
	    	margin: 0 0 20px;
	    }
	}

	.color-account {
	    color: $cyan;
	    display: inline-block;
	}

	.stake-content {
	    font-size: 31px;
	    line-height: 1;
	    color: #1E2845;

	    @include media('<tablet') {
	    	font-size: 24px;
	    }

	    p {
	    	margin: 0 0 16px;
	    }
	}

	.stake-items {
	    display: flex;
	    flex-wrap: wrap;
	}

	.single-stake-item {
	    width: calc(33.333% - 30px);
	    margin: 0 15px;
	    background: #FFFFFF;
	    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
	    border-radius: 10px;
	    padding: 60px 30px 30px;
	    min-height: 330px;
	    margin-bottom: 30px;
	    transition: all 0.4s ease;
	    position: relative;
	    text-align: center;

	    @include media('<desktop') {
	    	width: calc(50% - 30px);
	    }

	    @include media('<tablet') {
	    	width: 100%;
	    	margin: 0 0 20px;
	    }

	    &:hover {
		    transform: translateY(-5px) !important;
		}
	}

	.badge {
	    position: absolute;
	    left: 20px;
	    top: 20px;
	    content: "";
	}

	.badge-pill {
	    display: block;
	    color: #fff;
	    background-color: #28a745;
	    border-radius: 13px;
	    padding: 2px 14px;
	    margin: 0 0 10px; 

	    @include media('<tablet') {
	    	font-size: 12px;
	    }
	}

	.badge-left{
	    display: block;
	    color: #fff;
	    background-color: #1E2845;
	    width: 70px;
	    padding: 0 10px;
	    border-radius: 4px;

	    @include media('<tablet') {
	    	font-size: 12px;
	    }
	}

	.image {
	    max-width: 150px;
	    margin: 0 auto 20px;
	    padding: 10px;
	    border-radius: 100%;
	    background: #F5F5F5;
	    display: flex;
	    align-items: center;
	    width: 100%;
	    justify-content: center;

	    @include media('<tablet') {
	    	max-width: 80px;
	    }
	}

	.stake-text {
	    line-height: 1;
	    margin: 0 0 10px;
	    color: #1E2845;
	    font-size: 20px;
	    font-weight: 600;
	}

	.achieve {
	    line-height: 1.3;
	    margin: 0;
	}

	.fab {
	    padding: 0 5px 0 0;      
	}

	.btn {
		padding: 10px 20px;
	}
}

.our-blog {
    padding: 60px 0;

    @include media('<desktop') {
    	padding: 0 0 60px;
    }

    @include media('<tablet') {
    	padding: 50px 0;
    }

    .blogs-wrap {
	    display: flex;
	    justify-content: space-between;
	    align-content: center;

	    @include media('<tablet') {
	    	flex-wrap: wrap;
	    }
	}

	h2 {
	    text-align: center;
	    color: $light-blue;
	    line-height: 1;
	    margin: 0 0 40px;
	}

	.single-blog {
	    width: calc(33.333% - 30px);
	    margin: 0 15px;
	    transition: all 0.4s ease;

	    @include media('<tablet') {
	    	width: 100%;
	    	margin: 0 0 50px;
	    }

	   &:hover {
			transform: translateY(-5px) !important;
		}
	}

	.image-holder {
	    margin: 0 0 20px;

	    img {
		    border-radius: 10px;
		}
	}

	.post-link {
	    line-height: 1;
	    margin: 0 0 10px;

	    a {
		     color: #1E2845;
		     text-decoration: none;
		     transition: all 0.4s ease;

		     &:hover {
			    color: $light-blue;
			}
		}
	}

	.far {
	    padding: 0 5px 0 0;
	}
}

.block-contact {
    padding: 50px 0 100px;

    @include media('<tablet') {
    	padding: 0 0 50px;
    }

	.contact-icon {
    	font-size: 18px;
	}

	h4 {
	    line-height: 1;
	    margin: 0 0 20px;
	    color: $cyan;
	    font-size: 24px;
	}
}

.contact-list {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
	font-size: 20px;

	@include media('<desktop') {
    	font-size: 15px;
    }

	@include media('<tablet') {
		font-size: 16px;
	}


	a {
		text-decoration: none;
	    color: #fff;
	    padding: 0 0 0 20px;
	    transition: all 0.4s ease;

	    @include media('<desktop') {
	    	padding: 0 0 0 14px;
	    }

	    &:hover {
	    	color:  $cyan;
	    }
	}
}

.nav-opener{
	position: absolute;
	right: 15px;
	width: 30px;
	height: 20px;
	border-top: 3px solid $cyan;
	transition: all 0.4s ease;
	display: none;

	.nav-active & {
		border-top: none;
	}

	@include media('<tablet') {
		display: block;
	}

	&:after,
	&:before {
		background:$cyan;
		left: 0;
		right: 0;
		top: 6px;
		height: 3px;
		content:"";
		position: absolute;
		transition: all 0.4s ease;

		.nav-active &{
			top: 10px;
			transform: rotate(45deg);
		}
	}

	&:after {
		top: 14px;

		.nav-active &{
			transform: rotate(-45deg);
		}
	}
}

.block-contact {
	background: #2c2e34;
	padding: 60px 0 40px;
	border-bottom: 1px solid #45474d;

	.container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.col {
	  width:calc(33.333% - 40px);
	  margin: 0 20px;

	   @include media('<desktop') {
		  	margin: 0 10px;
		  }

		  @include media('<tablet') {
		  	width: 100%;
		  	margin: 0 0 30px;
		  }

	  img {
		  margin: -12px 0 14px;

		  @include media('<desktop') {
		  	margin: 0 0 14px;
		  }
		}
	}

	h5 {
	  margin: 0 0 16px;
	  font-size: 30px;
	  line-height: 37px;
	  color: #fff;

	  @include media('<desktop') {
	  	font-size: 24px;
	  }
	}

	p {
	  margin: 0 0 12px;
	  color: #fff;
	  font-size: 14px;
	  line-height: 20px;

	@include media('<desktop') {
		font-size: 12px;
		}		
	}

	.more {
	  text-decoration: none;
	  font-size: 16px;
	  line-height: 20px;
	  color: #6d6c6c;
	  background: #f5f5f5;
	  border-radius: 6px;
	  padding: 8px 18px;
	  display: inline-block;

	  &:hover {
		  color: #000;
		}
	}
}

.form {
	input[type="text"],
	input[type="email"], 
	textarea {
	  height: 40px;
	  width: 100%;
	  border: 1px solid #45474d;
	  background: #1f2125;
	  color: #fff;
	  padding: 0 11px 0;
	  margin: 3px 0 9px;
	  outline: none;
	} 
}

.form {
	textarea {
	  height: 92px;
	  resize: none;
	  padding: 6px 12px;
	  color: #fff;
	  outline: none;
	}	
}
 



[data-animate] {
	opacity: 0;
	visibility: hidden;
	transition: all 1s ease;
}

[data-animate="left"] {
	transform: translate(-70%, 0);
}

[data-animate="right"] {
	transform: translate(70%, 0);
}

[data-animate="bottom"] {
	transform: translate(0, 70%);
}

[data-animate="top"] {
	transform: translate(0, -70%);
}

.in-viewport {
	&[data-animate],
	[data-animate] {
		opacity: 1;
		visibility: visible;
		transform: none !important;
	}
}