// media queries
$sm-phone: 479px;
$phone: 575px;  
$tablet: 767px;
$desktop: 1023px;
$widescreen: 1199px;
$widescreen-x: 1439px;
$widescreen-xl: 1549px;
$widescreen-xxl: 1699px;

// colors
$primary: #fce38a;
$secondary:#f38181;
$tertiary: #95e1d3;
$text-color:#999;
$white:#fff;
$black: #000;
$lt-black: #333;

$Roboto-Font: 'Roboto', sans-serif;
$Montserrat-Font: 'Montserrat', sans-serif;
$KaushanScript-Font: 'Kaushan Script', cursive;











