body {
	min-width: $base-min-width;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }

    &.nav-active {
        overflow: hidden;
    }
}

h1, .h1 {
    @include media-breakpoint-down(xxxl) {
        font-size: 55px;
    }

    @include media-breakpoint-down(xxl) {
        font-size: 48px;
    }

    @include media-breakpoint-down(xl) {
        font-size: 42px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 34px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 30px;
    }
}

h2, .h2 {
    @include media-breakpoint-down(xxxl) {
        font-size: 42px;
    }

    @include media-breakpoint-down(xxl) {
        font-size: 38px;
    }
    
    @include media-breakpoint-down(xl) {
        font-size: 34px;
    }
    
    @include media-breakpoint-down(lg) {
        font-size: 31px;
    }
    
    @include media-breakpoint-down(md) {
        font-size: 28px;
    }
}

h3, .h3 {
    @include media-breakpoint-down(xxl) {
        font-size: 32px;
    }

    @include media-breakpoint-down(xl) {
        font-size: 28px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 24px;
    }
}

h4, .h4 {
    @include media-breakpoint-down(xxl) {
        font-size: 27px;
    }

    @include media-breakpoint-down(xl) {
        font-size: 24px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 21px;
    }
}

h5, .h5 {
    @include media-breakpoint-down(xl) {
    }
}

p {
    @include media-breakpoint-down(md) {
        margin: 0 0 15px;
    }
}

a {
	transition: all 0.3s ease-in-out;
}

// main container styles
#wrapper {
	width: 100%;
	position: relative;
}

.btn {
    overflow: hidden;
    position: relative;
    border: none;

    @include media-breakpoint-down(xxl) {
        font-size: 20px;
        padding: 15px 35px;
    }

    @include media-breakpoint-down(xl) {
        font-size: 16px;
    }

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        content: '';
        border-radius: 40px;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }

    &.btn-primary {
        color: $white;

        &:focus,
        &:active,
        &:first-child:active {
            color: $white;
        }

        &:hover {
            &:before {
                background: $info;
            }
        }
    }

    &.btn-info {
        color: $white;

        &:focus,
        &:active,
        &:first-child:active {
            color: $white;
        }

        &:hover {
            &:before {
                background: $primary;
            }
        }
    }

    &.btn-link {
        color: $black;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .btn-text {
        position: relative;
        z-index: 1;
    }
}