@font-face {
  font-family: 'rj-icomoon';
  src:  url('../fonts/rj-icomoon.eot?ueikx9');
  src:  url('../fonts/rj-icomoon.eot?ueikx9#iefix') format('embedded-opentype'),
    url('../fonts/rj-icomoon.ttf?ueikx9') format('truetype'),
    url('../fonts/rj-icomoon.woff?ueikx9') format('woff'),
    url('../fonts/rj-icomoon.svg?ueikx9#rj-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.rj-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rj-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rj-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rj-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rj-delete:before {
  content: "\e92f";
}
.rj-dots:before {
  content: "\e92c";
}
.rj-search-new:before {
  content: "\e92d";
}
.rj-arrow-back:before {
  content: "\e92e";
}
.rj-share1:before {
  content: "\e92a";
}
.rj-heart:before {
  content: "\e92b";
}
.rj-home:before {
  content: "\e929";
}
.rj-check-thick1:before {
  content: "\e90f";
}
.rj-message:before {
  content: "\e910";
}
.rj-trash-bin:before {
  content: "\e911";
}
.rj-time:before {
  content: "\e912";
}
.rj-plus:before {
  content: "\e913";
}
.rj-share:before {
  content: "\e914";
}
.rj-check:before {
  content: "\e915";
}
.rj-link-arrow:before {
  content: "\e916";
}
.rj-crown:before {
  content: "\e917";
}
.rj-dive:before {
  content: "\e918";
}
.rj-stack:before {
  content: "\e919";
}
.rj-dribbble:before {
  content: "\e91a";
}
.rj-github:before {
  content: "\e91b";
}
.rj-settings:before {
  content: "\e91c";
}
.rj-info:before {
  content: "\e91d";
}
.rj-check-circle:before {
  content: "\e91e";
}
.rj-cart:before {
  content: "\e91f";
}
.rj-star-sm:before {
  content: "\e920";
}
.rj-rocket:before {
  content: "\e921";
}
.rj-video-outline:before {
  content: "\e922";
}
.rj-tel-outline:before {
  content: "\e923";
}
.rj-star-outline:before {
  content: "\e924";
}
.rj-preview:before {
  content: "\e925";
}
.rj-edit-text:before {
  content: "\e926";
}
.rj-google:before {
  content: "\e927";
}
.rj-apple:before {
  content: "\e928";
}
.rj-search-post:before {
  content: "\e900";
}
.rj-search:before {
  content: "\e901";
}
.rj-youtube:before {
  content: "\e902";
}
.rj-Twitter:before {
  content: "\e903";
}
.rj-instagram:before {
  content: "\e904";
}
.rj-facebook:before {
  content: "\e905";
}
.rj-forward:before {
  content: "\e906";
}
.rj-check-thick:before {
  content: "\e907";
}
.rj-clock:before {
  content: "\e908";
}
.rj-arrow-right:before {
  content: "\e909";
}
.rj-work-home:before {
  content: "\e90a";
}
.rj-add-group:before {
  content: "\e90b";
}
.rj-star:before {
  content: "\e90c";
}
.rj-triangle:before {
  content: "\e90d";
}
.rj-arrow-down:before {
  content: "\e90e";
}