.header-theme-1 {
    background: $white;

    @include media-breakpoint-up(md) {
        padding: 20px 0;
    }

    .sticky-header & {
        @include media-breakpoint-up(md) {
            padding: 15px 0 !important;
        }
    }

    .logo {
        width: 165px;
        display: block;

        @include media-breakpoint-up(md) {
            width: 175px;
        }
    }

    + .visual-block,
    + .subvisual-block {
        margin-top: 80px;

        @include media-breakpoint-up(md) {
            margin-top: 83px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 91px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 94px;
        }
    }

    .nav-opener,
    .nav-close {
        &:before,
        &:after,
        span {
            background: $green;
        }

        &:hover {
            &:before,
            &:after,
            span {
                background: $green;
            }
        }
    }

    .nav-drop {
        @include media-breakpoint-down(lg) {
            background: $dark-green;
        }
    }

    .navigation {
        font-size: 16px;
        font-family: $font-family-epilogue;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 16px;
        }

        > li {
            &:not(:last-child) {
                @include media-breakpoint-up(xxl) {
                    padding: 0 30px;
                }
            }

            > a {
                &:not(.btn) {
                    @include media-breakpoint-up(lg) {
                        color: $black;
                    }

                    &:hover {
                        color: $green;
                    }
                }

                &.btn-green {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 16px;

                    @include media-breakpoint-up(lg) {
                        font-size: 14px;
                    }
                
                    @include media-breakpoint-up(xl) {
                        font-size: 16px;
                    }

                    @include media-breakpoint-down(lg) {
                        text-align: center;
                        justify-content: center;
                        margin-top: 15px;
                    }
                }

                &.dropdown-toggle {
                    &.show {
                        @include media-breakpoint-down(lg) {
                            color: $green;
                        }
                    }
                }
            }

            &:hover {
                .dropdown-toggle {
                    color: $green;
                }
            }

            &.active {
                > a {
                    color: $green;
                }
            }
        }

        .dropdown-menu {
            font-size: 14px;

            li {
                &.active {
                    > a {
                        color: $green;
                    }

                    &:hover {
                        > a {
                            color: $white;
                        }
                    }
                }
            }

            .dropdown-item {
                &:hover {
                    background: $green;
                }
            }
        }
    }
}

.sticky-header {
    .header-theme-1 {
        .navigation {
            > li {
                > a {
                    &:not(.btn, :hover) {
                        @include media-breakpoint-up(lg) {
                            color: $black;
                        }
                    }
                }

                &:hover {
                    .dropdown-toggle {
                        @include media-breakpoint-up(lg) {
                            color: $green;
                        }
                    }
                }

                &.active {
                    > a {
                        color: $green;
                    }
                }
            }
        }

        .nav-opener {
            &:not(:hover) {
                &:before,
                &:after,
                span {
                    background: $green;
                }
            }
        }
    }
}