.visual-theme-17 {
    font-family: 'DM Sans', sans-serif;
    background-image: url('../images/visual_theme17.png');
    background-position: 50% 50%;
    background-size: cover;

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    &:after {
        display: none;
    }

    .visual-textbox {
        max-width: 100%;
        padding-top: 30px;
        @include media-breakpoint-up(xl) {
            padding-top: 58px;
        }
        p {
            @include media-breakpoint-up(md) {
                font-size: 20px;
                letter-spacing: 1.3px;
                margin: 0 0 51px;
            }
        }
        h1, .h1 {
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 2px;
            padding-bottom: 0;
            font-family: 'DM Sans', sans-serif;
            @include media-breakpoint-up(xxl) {
                font-size: 50px;
            }

            @include media-breakpoint-up(xxxl) {
                font-size: 60px;
                margin: 0 10px 20px 0;
            }

            &:after {
                display: none;
            }
        }
    }

    .form-search {
        overflow: hidden;
        margin-bottom: 50px;

        @include media-breakpoint-up(xl) {
            margin-bottom: 32px;
        }

        @include media-breakpoint-up(xxl) {
            display: flex;
            background: $white;
            padding: 4px;
            border-radius: 40px;
            max-width: 705px;
        }
    
        .fields-holder {
            padding: 13px 0;
            
            @include media-breakpoint-down(md) {
                padding: 0;
                background: transparent !important;
            }
    
            @include media-breakpoint-up(md) {
                border-radius: 100px;
                margin: 0 0 20px;
            }

            @include media-breakpoint-up(xxl) {
                margin: 0;
            }
        }
    
        .form-group {
            padding: 8px 20px 8px 55px;
    
            @include media-breakpoint-up(md) {
                padding: 0 25px 0 55px;
            }
    
            + .form-group {
                @include media-breakpoint-up(md) {
                    border-left: 1px solid #666;
                }
            }
    
            .icon {
                left: 20px;
                font-size: 21px;
            }
        }
    
        .form-control {
            font-size: 16px;
            padding: 7px 0;
    
            &::placeholder {
                color: #666;
            }
        }
    
        .select2 {
            font-size: 16px;
    
            .select2-selection {
                padding: 5px 0;
            }
        }
    
        .select2-container--default {
            .select2-selection--single {    
                .select2-selection__placeholder {
                    color: #666;
                }
    
                .select2-selection__arrow {
                    &:before {
                        font-size: 18px;
                    }
                }
            }
        }
    
        .btn {
            padding: 17px 20px;
            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            @include media-breakpoint-up(xxl) {
                margin-left: 10px;
                min-width: 140px;
                font-size: 15px;
            }
        }
    }

    .searches_holder{

        .search_result {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: $white;
            letter-spacing: 0;
            margin: 0 0 20px;
            display: block;

            @include media-breakpoint-up(md) {
                margin: 0 0 35px;
            }

            @include media-breakpoint-up(xxl) {
                margin: 0 0 79px;
            }

            strong {
                font-weight: 700;
            }
        }
    }

    .visual-image {
        position: relative;
        margin-right: 0;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
        }

        @include media-breakpoint-up(xl) {
            display: block;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
        }

        .advise_bar {
            top: 50%;
            right: -20px;
            width: 185px;
            min-height: 71px;
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 12px;
            background: $white;
            position: absolute;
            letter-spacing: 0;
            margin: -80px 0 0;

            @include media-breakpoint-up(xl) {
                width: 258px;
                right: -30px;
                margin: -110px 0 0;
            }

            @include media-breakpoint-up(xxxl) {
                right: -100px;
                margin: -130px 0 0;
            }

            .icon {
                width: 48px;
                height: 48px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                background: #e2e2ff;
                border-radius: 100%;

                img {
                    display: inline-block;
                    height: auto;
                    max-width: 100%;
                    width: auto;
                }
            }

            .text-hold {
                flex-grow: 1;
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;
                color: #666;

                p {
                    margin: 0;
                }

                .title {
                    display: block;
                    margin: 0 0 5px;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 700;
                    color: #111;
                }
            }
        }

        .users-box {
            left: auto;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 65px;
            border-radius: 50px;
            padding: 10px;
            bottom: 16.6%;

            @include media-breakpoint-up(xl) {
                bottom: 12.6%;
            }
            
            &:after {
                display: none;
            }
    
            .title {
                color: $black;
                font-size: 14px;
                font-weight: 700;
                margin: 0 15px 0 0;
            }
    
            .users-list {
                li {
                    width: 41px;
                    height: 41px;
                    margin: 0 -5px 0 0;
                    border: 1px solid $white;
                    font-size: 20px;
                    color: $black;
                    font-weight: 700;
                    background: #d7d7d7;
                }
            }
        }
    }
}

.btn_upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    min-width: 245px;
    min-height: 54px;
    background: rgba(255,255,255,0.10);

    .icon {
        display: block;
        font-size: 25px;
        color: $white;
        margin-right: 10px;
    }

    .text {
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $white;
    }
}