.visual-theme-4 {
	font-family: $font-family-epilogue;
	background-color: var(--navy-dark);
	background-image: url('../images/vawe.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;

	@include media-breakpoint-up(md) {
		font-size: 18px;
	}

	&:after {
		display: none;
	}

	.container {
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}

	.visual-textbox {
		margin: 0;
		max-width: inherit;

		@include media-breakpoint-up(xxl) {
			padding-top: 180px;
		}

		h1, .h1 {
			font-weight: 800;
			line-height: 1.2;
			padding-bottom: 0;
			font-family: $font-family-epilogue;

			@include media-breakpoint-up(lg) {
				margin: 0 0 26px;
			}
			@include media-breakpoint-up(xl) {
				margin: 0 0 36px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: 60px;
			}

			@include media-breakpoint-up(xxxl) {
				font-size: 75px;
				margin: 0 0 30px;
			}

			&:after {
				display: none;
			}
		}

		p {
			color: $white;
			margin: 0 0 15px;
			@include media-breakpoint-up(xxxl) {
				font-size: 22px;
			}
		}
	}

	.form-search {
		overflow: hidden;
		margin-bottom: 30px;

		@include media-breakpoint-up(md) {
			margin-bottom: 40px;
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			padding: 7px;
			background: $white;
			border-radius: 8px;
			max-width: inherit;
			border: 1px solid #d5d5d5;
			box-shadow: 0 5px 15px rgba(0,0,0,0.15);
		}
	
		.fields-holder {
			padding: 13px 0;
			
			@include media-breakpoint-down(md) {
				padding: 0;
				background: transparent !important;
			}
	
			@include media-breakpoint-up(md) {
				border-radius: 100px;
				margin: 0 0 20px;
			}

			@include media-breakpoint-up(lg) {
				margin: 0;
				flex-grow: 1;
				min-width: 0;
			}
		}
	
		.form-group {
			padding: 8px 20px 8px 55px;
	
			@include media-breakpoint-up(md) {
				padding: 0 25px 0 55px;
				width: 100%;
			}

			@include media-breakpoint-up(xxl) {
				width: 38%;
			}

			&:first-child {
				@include media-breakpoint-up(xxl) {
					width: 63%;
				}
			}
	
			+ .form-group {
				@include media-breakpoint-up(md) {
					border-left: 1px solid #666;
				}
			}
	
			.icon {
				left: 20px;
				font-size: 21px;
			}
		}
	
		.form-control {
			font-size: 14px;
			padding: 8px 0 6px;
	
			&::placeholder {
				color: #666;
			}
		}

		.select2-container--default {
			min-width: 180px;
		}
	
		.select2 {
			font-size: 14px;
	
			.select2-selection {
				padding: 5px 0;
			}
		}
	
		.select2-container--default {
			.select2-selection--single {    
				.select2-selection__placeholder {
					color: #666;
				}
	
				.select2-selection__arrow {
					&:before {
						font-size: 18px;
					}
				}
			}
		}
	
		.btn {
			color: $white;
			border-radius: 32px;
			background: var(--purple-heart);

			@include media-breakpoint-up(lg) {
				min-width: 140px;
			}

			&:before {
				border-radius: 32px;
			}
		}
	}
	.image-holder {
		overflow: hidden;
		img {
			display: block;
			@include size(100%, auto);
		}
	}
	.feature-frame {
		overflow: hidden;
		display: flex;
		align-items: center;
		img {
			display: block;
			max-width: 40px;
			margin-right: 13px;
			@include media-breakpoint-up(xl) {
				max-width: 100%;
			}
		}
		p {
			margin: 0;
			color: $white;
			font-size: 16px;
			line-height: 24px;
			@include media-breakpoint-up(lg) {
				font-size: 18px;
				line-height: 26px;
			}
		}
	}
}