.visual-theme-1 {
    font-family: $font-family-epilogue;

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    &.bg-dark-green {
        background-image: url("../images/bg-visual2.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @include media-breakpoint-up(lg) {
            background: transparent !important;
        }
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &:before {
        left: 0;
        top: 0;
        bottom: 40px;
        width: 85%;
        background: $dark-green url('../images/bg-visual2.jpg') no-repeat;
        background-size: cover;
        border-radius: 0 80px 80px 0;
    }

    &:after {
        background: $lt-yellow;
        width: 30%;
        top: 40px;
        right: 0;
        bottom: 0;
        transform: none;
        border-radius: 80px 0 0 80px;
    }

    .container {
        @include media-breakpoint-up(lg) {
            margin-bottom: 40px;
        }
    }

    .visual-textbox {
        h1, .h1 {
            font-weight: 800;
            line-height: 1.2;
            padding-bottom: 0;
            font-family: $font-family-epilogue;

            @include media-breakpoint-up(xxxl) {
                font-size: 65px;
            }

            &:after {
                display: none;
            }
        }

        .bg-patterns {
            position: absolute;
            right: 100%;
            top: 20px;
            display: none;

            @include media-breakpoint-up(xl) {
                top: 45px;
                display: block;
            }

            @include media-breakpoint-up(xxl) {
                top: 20px;
            }
        }
    }

    .form-search {
        overflow: hidden;
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 80px;
        }

        @include media-breakpoint-up(xxl) {
            display: flex;
        }
    
        .fields-holder {
            padding: 13px 0;
            
            @include media-breakpoint-down(md) {
                padding: 0;
                background: transparent !important;
            }
    
            @include media-breakpoint-up(md) {
                border-radius: 100px;
                margin: 0 0 20px;
            }

            @include media-breakpoint-up(xxl) {
                margin: 0;
            }
        }
    
        .form-group {
            padding: 8px 20px 8px 55px;
    
            @include media-breakpoint-up(md) {
                padding: 0 25px 0 55px;
            }
    
            + .form-group {
                @include media-breakpoint-up(md) {
                    border-left: 1px solid #666;
                }
            }
    
            .icon {
                left: 20px;
                font-size: 21px;
            }
        }
    
        .form-control {
            font-size: 16px;
            padding: 7px 0;
    
            &::placeholder {
                color: #666;
            }
        }
    
        .select2 {
            font-size: 16px;
    
            .select2-selection {
                padding: 5px 0;
            }
        }
    
        .select2-container--default {
            .select2-selection--single {    
                .select2-selection__placeholder {
                    color: #666;
                }
    
                .select2-selection__arrow {
                    &:before {
                        font-size: 18px;
                    }
                }
            }
        }
    
        .btn {
            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            @include media-breakpoint-up(xxl) {
                margin-left: 10px;
                min-width: 140px;
            }
        }
    }

    .visual-image {
        margin-right: 0;

        @include media-breakpoint-up(lg) {
            margin-left: -8%;
        }

        @include media-breakpoint-up(xl) {
            margin-left: 0;
        }

        .icons-black {
            position: absolute;
            right: -100px;
            top: 0;
            width: 200px;
            z-index: -1;
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }

            @include media-breakpoint-up(xl) {
                width: 306px;
                right: -140px;
                top: 37px;
            }
        }

        .icon-circle {
            width: 65px;
            position: absolute;
            left: 20%;
            bottom: -15%;
            z-index: -1;
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }

            @include media-breakpoint-up(xl) {
                width: 95px;
                bottom: -9%;
            }
        }
    }
}