/* Visal Block Styles */
.visal-block {
    position: relative;
    overflow: hidden;
    font-family: $headings-font-family;
    font-size: 15px;
    line-height: 1.6;
    
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 21px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 27px;
    }

    @include media-breakpoint-up(xxxl) {
        font-size: 30px;
    }

    &:after {
        position: absolute;
        right: -132%;
        top: 0;
        bottom: -1px;
        width: 100%;
        content: '';
        background: $white;
        transform: skewX(-41.9deg);

        @include media-breakpoint-up(md) {
            right: -76.4%;
        }
    }

    .shape {
        position: absolute;
        left: 0;
        width: 60%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &.top {
            top: 0;
            max-width: 932px;
        }

        &.bottom {
            bottom: 0;
            max-width: 1115px;
        }
    }
    

    .container {
        z-index: 1;
    }

    .icons-image {
        position: absolute;
        top: 50%;
        width: 250px;
        height: 350px;
        right: -10px;
        transform: translateY(-55%);

        @include media-breakpoint-up(md) {
            right: -20px;
        }

        @include media-breakpoint-up(lg) {
            width: 350px;
            height: 450px;
            transform: translateY(-59.4%);
        }

        @include media-breakpoint-up(xl) {
            width: 446px;
            height: 638px;
            right: -10px;
        }

        @include media-breakpoint-up(xxxl) {
            right: 5px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

/* Visual Textbox Styles */
.visual-textbox {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0 0 35px;

    @include media-breakpoint-up(lg) {
        max-width: 500px;
        padding-top: 50px;
        margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 78px;
        max-width: 565px;
    }

    @include media-breakpoint-up(xxl) {
        max-width: 650px;
    }

    @include media-breakpoint-up(xxxl) {
        max-width: 755px;
    }

    h1 {
        position: relative;
        padding-bottom: 21px;
        margin: 0 0 15px;

        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 145px;
            height: 6px;
            background: $info;
            content: '';
        }
    }

    p {
        margin: 0 0 36px;
    }
}

/* Form Search Styles */
.form-search {
    overflow: hidden;

    .fields-holder {
        @include media-breakpoint-down(md) {
            background: transparent !important;
        }

        @include media-breakpoint-up(md) {
            border-radius: 100px;
            margin: 0 0 20px;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 0 35px;
        }

        @include media-breakpoint-up(xl) {
            margin: 0 0 58px;
        }
    }

    .form-group {
        width: 100%;
        position: relative;
        padding: 8px 20px 8px 55px;
        background: $white;
        margin: 0 0 20px;
        border-radius: 35px;

        @include media-breakpoint-up(md) {
            width: 52%;
            padding: 10px 25px 10px 55px;
            background: transparent;
            margin: 0;
            border-radius: 0;
        }

        @include media-breakpoint-up(lg) {
            padding: 15px 25px 15px 58px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 22px 25px 22px 65px;
        }

        @include media-breakpoint-up(xxxl) {
            padding: 22px 35px 22px 100px;
        }

        &:first-child {
            @include media-breakpoint-up(md) {
                width: 48%;
            }
        }

        + .form-group {
            @include media-breakpoint-up(md) {
                border-left: 1px solid #e3e4e5;
            }
        }

        .icon {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 21px;
            line-height: 1;
            color: $black;

            @include media-breakpoint-up(lg) {
                font-size: 24px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 27px;
                left: 23px;
            }

            @include media-breakpoint-up(xxxl) {
                font-size: 30px;
                left: 40px;
            }
        }
    }

    .form-control {
        border: 0;
        border-radius: 0;
        font-size: 16px;
        line-height: 1.5;
        padding: 7px 0;
        color: $black;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 21px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 24px;
        }

        &:focus {
            box-shadow: none;
            border-color: $white;
        }

        &::placeholder {
            opacity: 1;
            color: rgba(0,0,0,0.3);
        }
    }

    .select2 {
        width: 100% !important;
        font-size: 16px;
        line-height: 1.5;
        padding-right: 30px;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 21px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 24px;
        }

        .select2-selection {
            padding: 5px 0;
            display: block;
            height: auto;
        }
    }

    .select2-container--default {
        .select2-selection--single {
            border: 0;

            .select2-selection__rendered {
                padding: 0;
                color: $black;
                font-family: $headings-font-family;
            }

            .select2-selection__placeholder {
                color: rgba(0,0,0,0.3);
            }

            .select2-selection__arrow {
                &:before {
                    @include media-breakpoint-up(lg) {
                        font-size: 20px;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: 24px;
                    }

                    @include media-breakpoint-up(xxl) {
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .btn {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}

/* Visual Image Styles */
.visual-image {
    margin-right: -9%;

    img {
        width: 100%;
        display: block;
        height: auto;
    }
}

/* Recruiter Box Styles */
.recruiter-box {
    position: absolute;
    left: 2%;
    top: 9.7%;

    @include media-breakpoint-up(xxl) {
        left: -1.2%;
    }

    &:before {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        border: 3px solid $white;
        position: absolute;
        left: -6px;
        top: -6px;
        content: '';

        @include media-breakpoint-up(xl) {
            width: 120px;
            height: 120px;
            border-width: 4px;
            left: -10px;
            top: -10px;
        }

        @include media-breakpoint-up(xxxl) {
            width: 155px;
            height: 155px;
        }
    }

    .recruiter-image {
        width: 78px;
        height: 78px;
        border-radius: 100%;
        overflow: hidden;
        background: $white;

        @include media-breakpoint-up(xl) {
            width: 100px;
            height: 100px;
        }

        @include media-breakpoint-up(xxxl) {
            width: 135px;
            height: 135px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center top;
        }
    }

    .title {
        display: block;
        width: 90px;
        background: $white;
        border-radius: 30px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 500;
        color: $body-color;
        text-align: center;
        padding: 6px 10px;
        margin-top: -8px;
        margin-left: -6px;
        position: relative;
        z-index: 1;
        font-family: $headings-font-family;

        @include media-breakpoint-up(xl) {
            width: 120px;
            margin-top: -12px;
            margin-left: -9px;
            font-size: 18px;
        }

        @include media-breakpoint-up(xxxl) {
            width: 165px;
            font-size: 23px;
            margin-left: -15px;
        }
    }
}

/* Users Box Styles */
.users-box {
    background: $white;
    position: absolute;
    left: 0;
    bottom: 12.6%;
    padding: 12px 15px;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 50px 146px rgba(0,0,0,0.1);

    @include media-breakpoint-up(xl) {
        padding: 15px 20px;
        border-radius: 15px 0 15px 15px;
    }

    @include media-breakpoint-up(xl) {
        border-radius: 20px 0 20px 20px;
    }

    @include media-breakpoint-up(xxxl) {
        left: -14.8%;
        min-width: 342px;
        padding: 20px 35px 21px;
    }

    &:after {
        position: absolute;
        right: 0;
        bottom: 100%;
        content: '';
        border-style: solid;
        border-width: 0 0 22px 33px;
        border-color: transparent transparent $white transparent;
    }

    .title {
        display: block;
        border-radius: 30px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 500;
        color: $body-color;
        margin: 0 0 9px;
        font-family: $headings-font-family;

        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 23px;
            margin: 0 0 12px;
        }
    }

    .users-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        li {
            width: 36px;
            height: 36px;
            overflow: hidden;
            border-radius: 100%;
            border: 2px solid $purple;
            margin-right: -5px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $purple;
            font-size: 19px;

            @include media-breakpoint-up(xl) {
                width: 54px;
                height: 54px;
                font-size: 22px;
                margin-right: -9px;
                border-width: 3px;
            }

            @include media-breakpoint-up(xxxl) {
                width: 66px;
                height: 66px;
                margin-right: -13px;
                font-size: 26px;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center top;
            }
        }
    }
}

/* Vacancy Box Styles */
.vacancy-box {
    background: $white;
    position: absolute;
    right: 6%;
    top: 35%;
    max-width: 230px;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 12px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 -50px 146px rgba(0,0,0,0.1);

    @include media-breakpoint-up(xl) {
        padding: 15px;
        max-width: 270px;
        border-radius: 15px 15px 15px 0;
    }

    @include media-breakpoint-up(xxxl) {
        max-width: 300px;
        right: 7%;
        padding: 17px 20px 20px;
    }

    @media (min-width: 1750px) {
        right: -11%;
        max-width: 318px;
    }

    &:after {
        position: absolute;
        left: 0;
        top: 100%;
        content: '';
        border-style: solid;
        border-width: 22px 33px 0 0;
        border-color: $white transparent transparent transparent;
    }

    .cursor {
        right: 27px;
        top: 100%;
        width: 25px;
        height: 25px;
        border: 2px solid #fbdf98;
        border-radius: 100%;
        position: absolute;
        margin-top: 8px;

        img {
            width: 34px;
            height: 41px;
            position: absolute;
            top: 7px;
            left: -20px;
            filter: drop-shadow(-1px 7px 4px rgba(0,0,0,0.25));
        }
    }

    .title {
        display: block;
        border-radius: 30px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        color: $body-color;
        font-family: $headings-font-family;

        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 20px;
        }

        span {
            display: block;
            font-size: 12px;
            color: $black;
            margin: 0 0 5px;

            @include media-breakpoint-up(xl) {
                font-size: 15px;
            }

            @include media-breakpoint-up(xxxl) {
                font-size: 18px;
            }
        }
    }

    .btn {
        padding: 0;
        width: 54px;
        height: 28px;
        min-width: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 400;
        margin-left: 8px;

        @include media-breakpoint-up(xl) {
            font-size: 16px;
            width: 70px;
            min-width: 70px;
        }
    }

    .star-ratings {
        margin-top: 12px;
    }
}

/* Star Ratings Styles */
.star-ratings {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: $gray-400;
    font-size: 18px;
    line-height: 1;

    li {
        padding: 0 2px 0 1px;
    }

    .filled {
        color: $primary;
    }
}

/* Section Global Styles */
.section {
    padding: 35px 0;
    position: relative;
}

/* Section Header Global Styles */
.section-header {
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    color: $gray-400;
    font-weight: 500;
    max-width: 620px;
    margin: 0 auto 40px;
    font-family: $headings-font-family;

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 21px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }

    h2 {
        color: $body-color;
        margin: 0;
        letter-spacing: 1px;
    }

    .seprator {
        width: 52px;
        height: 3px;
        border-radius: 3px;
        background: #bfbfbf;
        margin: 17px auto 23px;
        position: relative;

        &:before,
        &:after {
            width: 11px;
            height: 3px;
            border-radius: 3px;
            background: #bfbfbf;
            position: absolute;
            top: 0;
            content: '';
        }

        &:before {
            left: -21px;
        }

        &:after {
            right: -21px;
        }
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Category Box Styles */
.category-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $body-color;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #c0c0c0;
    box-shadow: 0 3px 7px rgba(0,0,0,0.35);
    font-family: $headings-font-family;

    .textbox {
        padding: 20px;

        @include media-breakpoint-up(xxl) {
            padding: 28px;
            padding-bottom: 20px;
        }

        .icon {
            position: absolute;
            right: -22px;
            top: -27px;
            color: #dfdfdf;
            font-size: 80px;
            line-height: 1;
            transform: rotate(45deg);
            transition: color 0.3s ease-in-out;
        }

        h3 {
            line-height: 1.458;

            @include media-breakpoint-down(sm) {
                margin: 0 0 12px;
            }
        }

        p {
            line-height: 1.875;
            margin: 0 0 11px;
        }
    }

    .post-footer {
        margin-top: auto;
        padding: 20px;
        background: $light-gray;
        position: relative;
        transition: background 0.3s ease-in-out;
        
        @include media-breakpoint-up(xxl) {
            padding: 23px 25px;
        }

        .num-jobs {
            display: block;
            font-size: 17px;
            font-weight: 600;
            transition: color 0.3s ease-in-out;

            @include media-breakpoint-up(md) {
                font-size: 20px;
            }
        }

        .icon {
            width: 80px;
            height: 80px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            border: 5px solid $white;
            position: absolute;
            top: -20px;
            right: 20px;
            background: $light-gray;
            font-size: 40px;
            line-height: 1;
            color: #c4c4c4;
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-up(xxl) {
                top: -28px;
                right: 25px;
                width: 100px;
                height: 100px;
                font-size: 50px;
            }

            @include media-breakpoint-up(xxl) {
                right: 35px;
            }
        }
    }

    &:hover {
        color: $body-color;
        border-color: $white;
        border-top-right-radius: 45px;

        .textbox {
            .icon {
                color: $primary;
            }
        }
        
        .post-footer {
            background: $info;

            .num-jobs {
                color: $white;
            }

            .icon {
                color: $white;
                background: $info;
            }
        }
    }
}

/* Featured Box Styles */
.featured-box {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    color: $body-color;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #c0c0c0;
    box-shadow: 0 3px 7px rgba(0,0,0,0.35);
    font-family: $headings-font-family;
    padding: 20px;
    position: relative;

    @include media-breakpoint-up(lg) {
        flex-flow: row nowrap;
        padding: 30px 20px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 40px 30px;
    }

    .pin-job {
        position: absolute;
        right: 20px;
        top: 30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        line-height: 1;
        color: #b9b9b9;

        @include media-breakpoint-up(xl) {
            top: 36px;
        }

        @include media-breakpoint-up(xxl) {
            top: 47px;
            right: 25px;
        }

        &:hover {
            color: $primary;
        }
    }

    .icon-box {
        width: 70px;
        height: 70px;
        min-width: 70px;
        padding: 17px;
        border-radius: 100%;
        border: 1px solid #c0c0c0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        margin: 0 0 15px;
        transition: background 0.3s ease-in-out;

        @include media-breakpoint-up(lg) {
            margin: 5px 20px 0 0;
        }

        @include media-breakpoint-up(xl) {
            width: 90px;
            height: 90px;
            min-width: 90px;
            padding: 20px;
        }

        @include media-breakpoint-up(xxl) {
            width: 120px;
            height: 120px;
            min-width: 120px;
            padding: 25px;
            margin: 4px 30px 0 0;
        }

        @include media-breakpoint-up(xxxl) {
            width: 150px;
            height: 150px;
            min-width: 150px;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .textbox {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: auto;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 0;
        }
    }

    h3 {
        margin: 0 0 7px;
        transition: color 0.3s ease-in-out;

        @include media-breakpoint-up(lg) {
            padding-right: 35px;
        }

        a {
            color: $body-color;

            &:hover {
                color: $primary;
            }
        }
    }

    .subtitle {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        color: #b4b4b4;
        font-weight: 600;
        margin: 0 0 17px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 20px;
        }
    }

    .stats-list,
    .tags-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        line-height: 1.5;
        color: #a7a7a7;

        @include media-breakpoint-up(xl) {
            font-size: 16px;
        }
    }

    .stats-list {
        margin: 0 -10px 10px;
        font-weight: 600;
        overflow: hidden;

        @include media-breakpoint-up(xl) {
            margin: 0 -15px 13px;
        }

        li {
            padding: 0 10px 10px;
            display: flex;
            align-items: center;

            @include media-breakpoint-up(xl) {
                padding: 0 15px 15px;
            }
        }

        .icon {
            font-size: 19px;
            line-height: 1;
            color: $primary;
            margin: 0 8px 0 0;

            @include media-breakpoint-up(xl) {
                font-size: 22px;
                margin: 0 12px 0 0;
            }
        }
    }

    .tags-list {
        margin: 0 -4px -7px -3px;

        li {
            padding: 0 4px 7px 3px;
        }

        .tag {
            border: 1px solid #aeaeae;
            border-radius: 20px;
            padding: 4px 12px;
            display: block;
            text-align: center;

            @include media-breakpoint-up(xl) {
                min-width: 110px;
            }
        }
    }

    &:hover {
        .icon-box {
            background: #f9f9fb;
        }
    }
}

/* Background Overlay Styles */
.bg-overlay {
    background-color: $secondary;
    background-size: cover;
    background-position: center top;
    background-blend-mode: overlay;
    position: relative;
    color: $white;

    &:after {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: $secondary;
        opacity: 0.9;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &.bg-primary {
        background-color: $primary;
        background-blend-mode: normal;

        &:after {
            background: $primary;
            opacity: 0.92;
        }
    }
}

/* Section Notified Styles */
.section-notified {
    font-size: 16px;
    line-height: 1.583;
    font-family: $headings-font-family;

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 21px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 24px;
    }

    .image-holder {
        overflow: hidden;
        margin: 0 auto 35px;
        max-width: 500px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            max-width: none;
        }

        @include media-breakpoint-up(xxxl) {
            margin: 3px -4px 3px -10px;
        }
        
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .textbox {
        @include media-breakpoint-up(xxl) {
            padding-left: 7.6%;
        }
    }

    h2 {
        margin-bottom: 19px;
    }

    p {
        font-weight: 400;
        margin: 0 0 20px;

        @include media-breakpoint-up(md) {
            margin: 0 0 25px;
        }

        @include media-breakpoint-up(lg) {
            margin: 0 0 38px;
        }
    }

    .btn {
        min-width: 268px;
    }
}

/* Section Testimonials Block Styles */
.testimonials-block {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    position: relative;

    @include media-breakpoint-up(md) {
        padding: 35px;
    }

    @include media-breakpoint-up(lg) {
        padding: 50px;
    }

    @include media-breakpoint-up(xl) {
        padding: 62px 75px;
    }

    .map-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.4;
        width: 100%;
        max-width: 1006px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .quote-icon {
        position: absolute;
        right: 10px;
        bottom: -20px;
        color: $primary;
        font-size: 100px;
        line-height: 1;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;

        @include media-breakpoint-up(md) {
            right: 43px;
            bottom: -41px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 170px;
            font-size: 250px;
            bottom: -71px;
        }
    }

    blockquote {
        font-size: 16px;
        line-height: 1.583;
        text-align: center;
        font-family: $headings-font-family;
        margin: 0 0 10px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 1.75;
        }

        @include media-breakpoint-up(lg) {
            line-height: 2.167;
        }
    
        @include media-breakpoint-up(xl) {
            font-size: 21px;
        }
    
        @include media-breakpoint-up(xxl) {
            font-size: 24px;
        }

        q {
            display: block;
            margin: 0 0 28px;
            quotes: none;
        }

        .author-info {
            display: block;
            font-style: normal;

            .author-name {
                display: block;
                color: $secondary;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.5;
                margin: 0 0 -2px;

                @include media-breakpoint-up(md) {
                    font-size: 21px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 25px;
                }

                @include media-breakpoint-up(xl) {
                    font-size: 30px;
                }
            }
        }
    }
}

/* Thumbnail Slider Styles */
.thumbnail-slider {
    max-width: 260px;
    margin: 0 auto 20px;
    
    @include media-breakpoint-up(lg) {
        max-width: 348px;
        margin-bottom: 26px;
    }

    .slick-list {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .slick-slide {
        padding: 0;

        &.slick-center {
            .thumbnail {
                transform: scale(1.2);
                border-color: $primary;
            }
        }
    }

    .thumbnail {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
        border: 7px solid transparent;
        margin: 0 -7px;
        transition: all 0.3s ease-in-out;

        @include media-breakpoint-up(lg) {
            width: 130px;
            height: 130px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center top;
        }
    }
}


/* Team Member Box Styles */
.team-box {
    overflow: hidden;
    text-align: center;
    font-family: $headings-font-family;

    .image-holder {
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        margin: 0 0 20px;
        transition: border-radius 0.7s ease-in-out;

        @include media-breakpoint-up(xl) {
            margin-bottom: 35px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &:hover {
            border-top-right-radius: 45px;
            border-bottom-left-radius: 45px;
            
            .button-overplay {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
        }
    }

    .button-overplay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: rgba(34, 3, 137, 0.9);
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        // transition: all 0.7s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
        // transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        .btn {
            font-weight: 600;
        }
    }

    .textbox {
        overflow: hidden;
    }

    h3 {
        margin: 0 0 10px;

        @include media-breakpoint-up(xl) {
            margin: 0 0 15px;
        }

        a {
            color: $body-color;

            &:hover {
                color: $primary;
            }
        }
    }

    .subtext {
        font-size: 16px;
        line-height: 1.5;
        color: #aeaeae;
        display: block;
        font-weight: 500;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    
        @include media-breakpoint-up(xl) {
            font-size: 21px;
        }
    
        @include media-breakpoint-up(xxxl) {
            font-size: 24px;
        }
    }
}

/* Section Workspace Styles */
.section-workspace {
    .subtitle {
        position: relative;
        padding-bottom: 22px;
        margin: 0 0 25px;
        display: block;
        letter-spacing: 0.8px;

        @include media-breakpoint-up(lg) {
            padding-bottom: 27px;
            margin: 0 0 32px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 41px;
        }

        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 72px;
            height: 4px;
            background: $primary;
            content: '';
        }
    }

    .h1 {
        letter-spacing: 1.2px;
        line-height: 1.28;
        margin: 0 0 25px;

        @include media-breakpoint-up(lg) {
            margin: 0 0 45px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 65px;
        }
    }

    .image-holder {
        @include media-breakpoint-up(xl) {
            margin-right: -10px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

/* News Post Styles */
.news-post {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.583;
    font-family: $headings-font-family;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 1.75;
    }

    @include media-breakpoint-up(xl) {
        line-height: 2;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 18px;
    }

    .image-holder {
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        margin: 0 0 20px;
        transition: all 0.3s ease-in-out;

        @include media-breakpoint-up(lg) {
            margin: 0 0 28px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .textbox {
        overflow: hidden;
    }

    h3 {
        margin: 0 0 15px;
        line-height: 1.2;

        @include media-breakpoint-up(xxl) {
            margin: 0 0 20px;
        }

        a {
            color: $body-color;

            &:hover {
                color: $primary;
            }
        }
    }

    p {
        letter-spacing: 0.35px;
        margin: 0 0 20px;
    }

    &:hover {
        .image-holder {
            border-top-right-radius: 45px;
            border-bottom-left-radius: 45px;
        }

        h3 {
            a {
                color: $primary;
            }
        }
    }
}

/* Post Meta Styles */
.post-meta {
    padding: 0;
    margin: 0 -5px 15px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: $gray-500;

    @include media-breakpoint-up(xxl) {
        margin: 0 -5px 21px;
    }

    @include media-breakpoint-down(xl) {
        font-size: 14px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 11px;
    }

    li {
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    .icon {
        font-size: 15px;
        line-height: 1;
        margin: 0 5px 0 0;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            margin: 0 7px 0 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: 23px;
            margin: 0 10px 0 0;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 28px;
            margin: 0 15px 0 0;
        }
    }
}

/* Post Footer Styles */
.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .read-more {
        font-size: 15px;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        color: $black;
        letter-spacing: 0.35px;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 21px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 24px;
        }

        .icon {
            font-size: 12px;
            line-height: 1;
            margin-left: 10px;

            @include media-breakpoint-up(lg) {
                font-size: 17px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 20px;
                margin-left: 14px;
            }
        }

        &:hover {
            color: $primary;
        }
    }

    .post-author {
        font-size: 13px;
        color: $gray-500;

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }
    }
}

/* Section Newsletter Styles */
.section-newsletter {
    font-family: $headings-font-family;

    .row {
         div {
            @include media-breakpoint-down(md) {
                height: auto !important;
            }
        }
    }

    .image-holder {
        @include media-breakpoint-up(md) {
            margin-top: -13px;
        }

        @include media-breakpoint-up(xl) {
            margin-right: -10px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .textbox {
        max-width: 645px;
    }

    .subtitle {
        position: relative;
        padding-bottom: 20px;
        margin: 0 0 10px;
        display: block;
        font-weight: 600;
        letter-spacing: 0.8px;

        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 90px;
            height: 4px;
            background: $white;
            content: '';

            @include media-breakpoint-up(md) {
                width: 124px;
                height: 6px;
            }
        }
    }

    h2 {
        line-height: 1.28;
        margin: 0 0 27px;
    }
}

/* Form Newsletter Styles */
.form-newsletter {
    overflow: hidden;
    position: relative;

    .form-control {
        height: 66px;
        border: 1px solid $white;
        font-size: 16px;
        line-height: 1.5;
        color: $black;
        font-family: $headings-font-family;
        padding-left: 20px;
        padding-right: 145px;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            padding-left: 25px;
            padding-right: 185px;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 35px;
            padding-right: 215px;
            height: 71px;
            font-size: 20px;
        }

        &::placeholder {
            color: #a7a7a7;
        }
    }

    .btn {
        position: absolute;
        top: 6px;
        right: 6px;
        min-width: 120px;

        @include media-breakpoint-up(lg) {
            min-width: 150px;
        }

        @include media-breakpoint-up(xl) {
            min-width: 180px;
        }

        @include media-breakpoint-down(lg) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

/* Select 2 Styles */
.select2-container--default {
    .select2-selection--single {
        .select2-selection__rendered,
        .select2-selection__placeholder {
            font-family: $headings-font-family;
        }

        .select2-selection__arrow {
            top: 50%;
            transform: translateY(-50%);

            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-family: 'icomoon';
                content: '\e917';
                line-height: 1;
                font-size: 18px;
                
            }

            b {
                display: none;
            }
        }
    }
    
    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                &:before {
                    font-family: 'icomoon';
                }
            }
        }
    }
    
    .select2-results__option--highlighted {
        &.select2-results__option--selectable {
            background: $primary;
        }
    }

    .select2-results__option--selected {
        color: $white;
        background: $info;
    }
}

/* Select2 dropdown Styles */
.select2-dropdown {
    border: 0;
    border-radius: 10px !important;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;

    .select2-results__option {
        padding: 8px 15px;
    }
}

.select2-container--open {
    .select2-dropdown--below {
        box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    }

    .select2-dropdown--above {
        box-shadow: 0 -5px 10px rgba(0,0,0,0.25);
    }
}