.section-theme-3 {
    font-family: $font-family-epilogue;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-family: $font-family-epilogue;
    }

    .section-header {
        font-family: $font-family-epilogue;
        color: #444;
        font-weight: 400;
        max-width: 730px;

        @include media-breakpoint-up(md) {
            font-size: 16px;
        }
    
        h2 {
            color: $black;
            margin: 0 0 10px;
            letter-spacing: normal;
            font-weight: 800;

            @include media-breakpoint-up(xxl) {
                font-size: 50px;
            }

            @include media-breakpoint-up(xxxl) {
                font-size: 60px;
            }

            .text-outlined {
                position: relative;

                &:before {
                    width: 100%;
                    height: 6px;
                    position: absolute;
                    left: 0;
                    bottom: -7px;
                    content: '';
                    background: url('../images/outline-yellow.png') no-repeat;
                    background-size: 100% 100%;

                    @include media-breakpoint-up(md) {
                        height: 9px;
                    }

                    @include media-breakpoint-up(lg) {
                        height: 12px;
                    }

                    @include media-breakpoint-up(xxl) {
                        height: 15px;
                    }
                }
            }
        }
    }

    .slick-dots {
        padding-top: 2px;

        li {
            padding: 0 3px;

            button {
                width: 26px;
                height: 26px;
                border: 7px solid $white;
                background: #888;

                &:hover {
                    border-color: $brown;
                    background: $white;
                }
            }

            &.slick-active {
                button {
                    border-color: $brown;
                    background: $white;
                }
            }
        }
    }
    
    .matched-jobs-block {
        background: #101010 url('../images/bg-vactor.jpg') no-repeat;
        background-size: cover;
        color: $white;
        max-width: 100%;

        @include media-breakpoint-up(xl) {
            border-radius: 90px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 30px 100px;
        }

        &:before {
            display: none;
        }

        .section-header {
            h2 {
                color: $white;
                line-height: 1.4;
                font-weight: 600;
                margin: 0 0 25px;

                @include media-breakpoint-only(md) {
                    font-size: 26px;
                }

                @include media-breakpoint-up(xl) {
                    font-size: 40px;
                }
            }
        }

        .image-holder {
            max-width: 300px;

            @include media-breakpoint-up(md) {
                width: 47%;
                max-width: inherit;
            }

            @include media-breakpoint-up(xxl) {
                width: 43%;
            }

            &:before {
                display: none;
            }
        }
    }

    .news-carousel {
        .news-info {
            margin-left: 0;
            margin-right: 0;
            max-width: 530px;
            border-color: $white;
            
            p {
                line-height: 1.9;
                margin-bottom: 20px;
            }

            .btn {
                width: 44px;
                height: 44px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                background: $lt-brown;
                color: $black;

                .btn-text {
                    line-height: 1;
                }
            }
        }

        .meta-list {
            list-style: none;
            padding: 0;
            margin: 0 0 10px;
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            font-weight: 700;
            text-transform: uppercase;

            li {
                display: flex;
                align-items: center;
                margin-right: 10px;

                @include media-breakpoint-up(lg) {
                    margin-right: 20px;
                }

                &:before {
                    width: 8px;
                    height: 8px;
                    background: #d2d2d2;
                    border-radius: 100%;
                    content: '';
                    margin: 0 10px 0 0;
                    display: block;

                    @include media-breakpoint-up(lg) {
                        margin: 0 20px 0 0;
                    }
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }

                .lbl {
                    color: $brown;
                    font-weight: 700;
                }
            }
        }

        .meta-links {
            li {
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .slick-dots {
            margin-top: 0;
            
            li.slick-active button, 
            li:hover button {
                border-color: $brown;
            }
        }
    }

    &.section-explores {
        .h6 {
            color: $black;

            @include media-breakpoint-up(lg) {
                font-size: 22px;
            }
        }

        .sites-list {
            justify-content: center;
            margin: -5px -7px;

            li {
                width: 50%;
                padding: 5px 7px;

                @include media-breakpoint-up(md) {
                    width: 33.333%;
                }

                @include media-breakpoint-up(lg) {
                    width: 20%;
                }

                a {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    height: 60px;
                    width: auto;

                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    &.explore-jobs-block {
        .section-header {
            @include media-breakpoint-up(xxl) {
                font-size: 18px;
            }

            h2 {
                font-weight: 800;
            }
        }

        .explore-list {
            li {
                &:nth-child(2n) {
                    padding-left: 0;
                }
            }

            .box {
                .icon-box {
                    width: 80px;
                    height: 80px;
                    box-shadow: inset 0 0 0 3px #fff;
                    border: 2px solid $brown;
                    background: $lt-brown;

                    @include media-breakpoint-down(sm) {
                        margin-right: 15px;
                    }
                }

                .textbox {
                    max-width: 100%;
                    line-height: 1.5;
                }

                .h5 {
                    display: block;
                    margin: 0 0 8px;
                }

                p {
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .image-holder {
            position: relative;
            padding: 32px 0 0;

            .image-pattern {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;

                img {
                    width: auto;
                    height: auto;
                    display: block;
                    max-width: 100%;
                }
            }

            .image-wrap {
                position: relative;
                z-index: 1;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    &.section-newsletter {
        position: relative;

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
            }
        }

        &:before {
            left: -35%;
            width: 509px;
            height: 333px;
            background-image: url('../images/newsletter-pattern-left.png');

            @include media-breakpoint-up(lg) {
                left: 0;
            }
        }

        &:after {
            right: -30%;
            width: 414px;
            height: 475px;
            background-image: url('../images/newsletter-pattern-right.png');

            @include media-breakpoint-up(lg) {
                right: 0;
            }
        }

        .section-newsletter-holder {
            padding: 0;
            margin: 0;
            box-shadow: none;
            position: relative;
            z-index: 1;

            .section-header {
                @include media-breakpoint-up(xl) {
                    font-size: 18px;
                }
            }

            .mail-icon {
                width: 91px;
                margin: 0 auto 35px;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }

        .form-newsletter {
            max-width: 835px;
            margin: 0 auto;
            overflow: visible;

            @include media-breakpoint-up(md) {
                display: flex;
                align-items: center;
            }

            .form-control {
                height: 62px;
                font-size: 16px;
                padding: 12px 25px;
                border: 1px solid #d5d5d5;
                box-shadow: 0 5px 15px rgba(0,0,0,0.15);
            }

            .btn {
                min-width: 185px;
                margin-left: 15px;
                height: 62px;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    margin: 20px 0 0;
                    height: auto;
                }
            }
        }
    }
}

/* Trending List Styles */
.trending-list {
    list-style: none;
    padding: 0;
    margin: -7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include media-breakpoint-up(xl) {
        margin: -10px;
    }

    @include media-breakpoint-up(xxl) {
        margin: -15px;
    }

    li {
        width: 100%;
        padding: 7px;

        @include media-breakpoint-up(sm) {
            width: 50%;
        }

        @include media-breakpoint-up(md) {
            width: 33.333%;
        }

        @include media-breakpoint-up(lg) {
            width: 25%;
        }

        @include media-breakpoint-up(xl) {
            width: 20%;
            padding: 10px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 15px;
        }
    }

    .trending-box {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        border-color: $white;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.1);

        @include media-breakpoint-up(xxl) {
            padding: 30px;
            border-radius: 40px;
        }

        @include media-breakpoint-up(xxxl) {
            padding: 40px;
            border-radius: 50px;
        }

        .icon {
            height: 70px;
            display: flex;
            align-items: center;
            margin: 0 0 25px;
            position: relative;

            @include media-breakpoint-down(sm) {
                margin-left: auto;
                margin-right: auto;
            }

            &:before {
                width: 45px;
                height: 45px;
                position: absolute;
                right: -10px;
                top: -10px;
                content: '';
                border-radius: 100%;
                background: #fae2d8;
            }

            img {
                position: relative;
            }
        }

        .text-holder {
            width: 100%;
            padding: 0;
            margin: 0 0 25px;

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }

        .btn {
            border: 2px solid #dedede;
            background: $white;

            @include media-breakpoint-down(sm) {
                margin: 0 auto;
            }
        }

        &:hover { 
            box-shadow: 10px 10px 0 $brown;
        
            .btn {
                background: $brown;
                border-color: $brown;
            }
        }

        &.more-box {
            align-items: center;
            justify-content: center;

            .btn {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $lt-brown;
                border-color: $lt-brown;
                border-radius: 100%;
                font-size: 26px;
                margin-bottom: 15px;
                padding-top: 2px;

                .btn-text {
                    line-height: 1;
                }
            }

            .subtitle {
                display: block;
                font-size: 16px;
                color: $black;
            }

            &:hover {
                .btn {
                    background: $brown;
                }
            }
        }
    }
}

/* Popular Jobs Block Styles */
.popular-jobs-block {
    .job-card {
        display: block;
        border: 1px solid $lt-brown;

        @include media-breakpoint-up(xxxl) {
            border-radius: 40px;
            border-width: 2px;
        }

        .inner-box {
            padding-bottom: 60px;

            @include media-breakpoint-up(xxxl) {
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        .job-type {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $lt-brown;
            padding: 7px 15px;
            border-radius: 30px;
            font-size: 12px;
            line-height: 1;
            margin: 0 0 25px;
            color: #333;

            @include media-breakpoint-up(lg) {
                font-size: 14px;
            }

            img {
                margin: 0 10px 0 0;
            }
        }

        h3 {
            margin: 0 0 10px;
        }

        .card-footer {
            background: $light-yellow;
            padding-top: 50px;

            @include media-breakpoint-up(xxxl) {
                margin: 0 -2px -2px;
                border-radius: 40px;
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 30px;
            }
        }

        .img {
            width: 65px;
            height: 65px;
            overflow: hidden;
            border-radius: 100%;
            position: absolute;
            left: 20px;
            top: -32px;
            border: 1px solid $white;
            box-shadow: 3px 3px 10px rgba(0,0,0,0.15);

            img {
                width: 100%;
                height: 100%;
                display: flex;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .info-row {
            strong {
                line-height: 1.5;
            }

            p {
                display: flex;
                align-items: center;
                margin: 0 0 2px;

                i {
                    font-size: 18px;
                    margin: 0 5px 0 0;
                }
            }
        }

        &:hover {
            box-shadow: 10px 10px 0 $brown;
        }
    }

    .jobs-listing-slider {
        .slick-arrow {
            display: none !important;
        }

        .slick-dots {
            @include media-breakpoint-up(md) {
                margin-top: 45px;
            }
        }
    }
}

.customers-reviews-block {
    .quote-box {
        max-width: 570px;
        border-radius: 20px;
        padding-top: 15px;
        background: $white;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.05);

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            margin-left: 40px;
            padding-top: 0;
            box-shadow: 15px 15px 5px rgba(0,0,0,0.05);
        }

        @include media-breakpoint-up(xl) {
            margin-left: 60px;
            border-radius: 40px;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 500px;
        }

        @include media-breakpoint-up(xxxl) {
            max-width: 570px;
        }

        &:nth-child(odd) {
            margin-bottom: 25px;

            @include media-breakpoint-up(xl) {
                margin-bottom: 50px;
            }

            @include media-breakpoint-up(xxl) {
                margin-left: auto;
            }
        }

        .img-avatar {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            flex-shrink: 0;
            border-radius: 100%;
            overflow: hidden;
            border: 5px solid $light-yellow;

            @include media-breakpoint-up(md) {
                width: 110px;
                height: 110px;
                margin-left: -40px;
                margin-bottom: 0;
                margin-top: 0;
            }

            @include media-breakpoint-up(xl) {
                width: 150px;
                height: 150px;
                margin-left: -60px;
                border-width: 10px;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    blockquote {
        line-height: 1.75;
        padding: 15px;
        margin: 0;
        text-align: center;

        @include media-breakpoint-up(md) {
            padding: 20px;
            text-align: left;
        }

        @include media-breakpoint-up(xl) {
            padding: 30px;
        }

        @include media-breakpoint-up(xxxl) {
            font-size: 18px;
        }

        q {
            display: block;
            font-style: normal;
            margin: 0 0 15px;
        }

        cite {
            display: block;
            font-style: normal;
            font-size: 20px;
            font-weight: 700;
            color: #000;
        }

        .star-ratings {
            font-size: 15px;
            justify-content: center;

            @include media-breakpoint-up(md) {
                justify-content: flex-start;
            }

            .filled {
                color: #ffb017;
            }
        }
    }

    .customers-reviews-slider {
        .slick-slide {
            padding: 10px;

            @include media-breakpoint-up(md) {
                padding: 25px;
            }
        }
    }

    .slick-arrow {
        position: static;
    }

    .slider-controller {
        .slick-arrow {
            background: $lt-brown;

            &:hover {
                background: $brown;
            }

            + .slick-arrow {
                margin-left: 20px;
            }
        }
    }
}

/* Packages Block  Styles*/
.packages-block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .section-header {
        h2 {
            color: $white;
        }
    }
}

.package-box {
    background: #434343;
    overflow: hidden;
    border-radius: 20px;
    padding: 15px;
    height: 100%;

    @include media-breakpoint-up(xl) {
        padding: 20px;
        border-radius: 40px;
    }

    .box-head {
        color: $white;
        position: relative;
        padding: 10px 10px 65px;

        @include media-breakpoint-up(lg) {
            padding: 20px 10px 65px;
        }

        @include media-breakpoint-up(xl) {
            padding: 20px 20px 65px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 35px 30px 65px;
        }

        @include media-breakpoint-up(xxxl) {
            padding: 35px 50px 65px;
        }
    }

    .subtitle {
        display: block;
        margin: 0 0 7px;

        @include media-breakpoint-up(lg) {
            margin: 0 0 3px;
        }
    }

    h3 {
        line-height: 1;
        font-size: 35px;
        font-weight: 800;

        @include media-breakpoint-up(xl) {
            font-size: 45px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 55px;
        }
    }

    .recommended-tag {
        position: absolute;
        right: 0;
        bottom: 15px;
        font-size: 13px;
        line-height: 1.5;
        color: $white;
        background: $black;
        border-radius: 20px;
        padding: 5px 15px;
    }

    .box-inner {
        background: $light-yellow;
        border-radius: 20px;
        position: relative;
        padding: 70px 20px 25px;

        @include media-breakpoint-up(xl) {
            border-radius: 40px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 70px 30px 25px;
        }

        @include media-breakpoint-up(xxxl) {
            padding: 70px 40px 25px;
        }
    }

    .icon {
        width: 90px;
        height: 90px;
        border: 3px solid $light-yellow;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #da6938;
        position: absolute;
        left: 20px;
        top: -45px;

        @include media-breakpoint-up(xl) {
            left: 35px;
        }

        @include media-breakpoint-up(xxxl) {
            left: 50px;
        }
    }

	.features-list {
        line-height: 1.5;
        margin-bottom: 20px;
        overflow: hidden;

		li {
			position: relative;
			padding-left: 25px;
            margin: 0 0 18px;

            @include media-breakpoint-up(xl) {
                padding-left: 30px;
            }

			&:before {
				top: 5px;
				left: 0;
				content: "";
				position: absolute;
				@include size(14px, 14px);
				background: url('../images/tick.svg') no-repeat;
				background-size: contain;
			}
		}
	}

    .btn {
        width: 100%;

        &.btn-white.btn-sm {
            @include media-breakpoint-down(lg) {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}

/* Section Experts Styles*/
.section-experts {
    overflow: hidden;

    .matched-jobs-block {
        background: #fafafa;
        overflow: visible;
        padding: 0;
        border-radius: 0 15px 15px 0;

        @include media-breakpoint-up(lg) {
            border-radius: 0 25px 25px 0;
        }

        @include media-breakpoint-up(xxl) {
            border-radius: 0 45px 45px 0;
        }

        &:before {
            background: #fafafa;
            position: absolute;
            width: 3000px;
            top: 0;
            bottom: 0;
            right: 100%;
            left: auto;
            content: '';
            display: block;
            border-radius: 0;
        }

        &:after {
            background: url('../images/bg-pattern-cristal.jpg') no-repeat;
            background-size: 100% 100%;
            content: '';
            position: absolute;
            left: -20%;
            top: 0;
            bottom: 0;
            width: 1040px;
        }

        .section-header {
            position: relative;
            z-index: 1;
            padding-top: 45px;
            padding-bottom: 10px;

            @include media-breakpoint-up(sm) {
                padding-bottom: 35px;
            }

            @include media-breakpoint-up(md) {
                padding-top: 35px;
            }

            @include media-breakpoint-up(lg) {
                padding-right: 8%;
            }
            
            @include media-breakpoint-up(xl) {
                padding-right: 10%;
            }

            h1 {
                color: $black;
                font-weight: 800;
            }

            p {
                @include media-breakpoint-up(xl) {
                    font-size: 18px;
                }
            }
        }

        .image-holder {
            background: $brown;
            border-radius: 15px;
            height: 400px;
            position: relative;
            z-index: 1;

            @include media-breakpoint-down(md) {
                max-width: 450px;
            }

            @include media-breakpoint-down(sm) {
                max-width: 300px;
                height: 275px;
            }

            @include media-breakpoint-up(lg) {
                border-radius: 25px;
                height: 530px;
            }

            @include media-breakpoint-up(xxl) {
                border-radius: 45px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            .image-wrap {
                position: absolute;
                left: -30px;
                bottom: 0;
                max-width: 100%;

                @include media-breakpoint-down(sm) {
                    left: -10px;
                }

                @include media-breakpoint-up(md) {
                    width: 350px;
                }

                @include media-breakpoint-up(lg) {
                    width: auto;
                    left: -90px;
                }

                @include media-breakpoint-up(xxl) {
                    left: -135px;
                }
            }

            .img-info {
                width: 220px;
                position: absolute;
                right: -5px;
                top: 80px;
                display: none;

                @include media-breakpoint-up(lg) {
                    right: -15px;
                    top: 150px;
                    display: block;
                }

                @include media-breakpoint-up(xl) {
                    right: -5px;
                    top: 80px;
                }

                @include media-breakpoint-up(xxl) {
                    width: 328px;
                }
            }

            .img-graph {
                width: 150px;
                position: absolute;
                left: -75px;
                bottom: 25px;
                display: none;

                @include media-breakpoint-up(lg) {
                    display: block;
                }

                @include media-breakpoint-up(xl) {
                    left: -100px;
                    width: 208px;
                }

                @include media-breakpoint-up(xxl) {
                    left: -160px;
                }
            }
        }
    }

    .features-list {
        line-height: 1.5;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 35px 0 0 2px;
        margin: 0;
        color: $black;

		li {
			position: relative;
			padding-left: 25px;
            margin: 0 0 18px;

            @include media-breakpoint-up(xl) {
                padding-left: 30px;
            }

			&:before {
				top: 5px;
				left: 0;
				content: "";
				position: absolute;
				@include size(14px, 14px);
				background: url('../images/tick.svg') no-repeat;
				background-size: contain;
			}
		}
	}
}