.section-theme-1 {
    font-family: $font-family-epilogue;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-family: $font-family-epilogue;
    }

    .section-header {
        font-family: $font-family-epilogue;
        color: #444;
        font-weight: 400;
        max-width: 730px;

        @include media-breakpoint-up(md) {
            font-size: 16px;
        }
    
        h2 {
            color: $black;
            margin: 0 0 10px;
            letter-spacing: normal;
            font-weight: 800;

            @include media-breakpoint-up(xxxl) {
                font-size: 60px;
            }

            .text-outlined {
                position: relative;

                &:before {
                    width: 100%;
                    height: 6px;
                    position: absolute;
                    left: 0;
                    bottom: -7px;
                    content: '';
                    background: url('../images/outline.png') no-repeat;
                    background-size: 100% 100%;

                    @include media-breakpoint-up(md) {
                        height: 9px;
                    }

                    @include media-breakpoint-up(lg) {
                        height: 12px;
                    }

                    @include media-breakpoint-up(xxl) {
                        height: 15px;
                    }
                }
            }
        }

        .seprator {
            height: 5px;
            background: $green;
            width: 80px;
            background: transparent;
            margin-top: 0;

            &:after,
            &:before {
                height: 5px;
                background: $green;
            }

            &:before {
                width: 52px;
                left: 0;
            }

            &:after {
                width: 24px;
                right: 0;
            }
        }
    }

    .slick-dots {
        li {
            padding: 0 3px;

            button {
                width: 26px;
                height: 26px;
                border: 7px solid $white;
                background: #888;

                &:hover {
                    border-color: $green;
                    background: $white;
                }
            }

            &.slick-active {
                button {
                    border-color: $green;
                    background: $white;
                }
            }
        }
    }

    .matched-jobs-block {
        background-image: url('../images/bg-matched.jpg');
    }

    &.section-explores {
        background-image: url('../images/bg-secion-explore.jpg');
    }

    &.section-contact {
        .section-header {
            margin-left: 0;
            margin-right: 0;
            max-width: 900px;
            color: $tundora;

            @include media-breakpoint-up(xl) {
                font-size: 18px;
            }

            .subtitle {
                color: #999;
                font-size: 18px;
                display: block;
                margin: 0 0 15px;
                font-weight: 800;
            }

            p {
                strong {
                    text-decoration: underline;
                }
            }
        }

        .contac-form {
            .form-control {
                @include media-breakpoint-down(lg) {
                    font-size: 15px;
                    padding: 10px 20px;
                }

                @include media-breakpoint-down(md) {
                    padding: 8px 25px;
                }

                @include media-breakpoint-up(lg) {
                    padding: 12px 25px;
                    max-width: 450px;
                }

                @include media-breakpoint-up(xl) {
                    padding: 14px 30px;
                }
            }

            textarea {
                &.form-control {
                    max-width: 100%;
                    height: 160px;

                    @include media-breakpoint-up(xl) {
                        height: 180px;
                    }

                    @include media-breakpoint-down(lg) {
                        border-radius: 25px;
                    }
                }
            }

            .btn {
                min-width: 230px;
            }
        }

        .map-holder {
            border-radius: 25px;
            overflow: hidden;

            @include media-breakpoint-up(xl) {
                height: 480px;
                border-radius: 45px;
            }
        }
    }

    &.packages-block {
        .section-header {
            h2 {
                color: $black;
            }
        }

        &.option-styles {
            .package-box {
                border: 1px solid #5e5e5e;
                box-shadow: none;
                overflow: visible;
                margin-top: 60px;
                height: calc(100% - 60px);

                .box-head {
                    background: $light-yellow;
                    border-radius: 20px;
                    color: $black;
                    padding-bottom: 10px;
                    margin-top: -60px;
                    margin-bottom: -30px;

                    @include media-breakpoint-down(xl) {
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    @include media-breakpoint-up(lg) {
                        padding-bottom: 20px;
                        margin-top: -80px;
                    }

                    @include media-breakpoint-up(xl) {
                        padding-bottom: 20px;
                        border-radius: 40px;
                        margin-bottom: -20px;
                    }

                    @include media-breakpoint-up(xxl) {
                        padding-bottom: 35px;
                        border-radius: 50px;
                    }

                    @include media-breakpoint-up(xxxl) {
                        padding-bottom: 35px;
                    }
                }

                .box-inner {
                    background: transparent;
                }

                .icon,
                .recommended-tag {
                    display: none;
                }
            }
        }
    }

    .package-box {
        background: $white;
        box-shadow: 10px 10px 20px rgba(0,0,0,0.05);

        .box-head {
            color: $black;
        }

        .icon {
            background: $green;
            border-color: $green;
        }

        &.text-white {
            .features-list {
                li {
                    &:before {
                        background: url("../images/tick-white.svg") no-repeat;
                    }
                }
            }
        }
    }
}

/* Section Explores Styles */
.section-explores {
    background-repeat: no-repeat;
    background-size: cover;

    .section-header {
        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 1.778;
        }

        h2 {
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }

    .explores-image-box {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        
        .img-pattern {
            position: absolute;
            left: 0;
            right: 0;
            top: -8%;
            right: -8%;
            left: -15%;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .image-holder {
            overflow: hidden;
            border-radius: 25px;
            position: relative;

            @include media-breakpoint-up(xl) {
                border-radius: 45px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .sites-list {
        list-style: none;
        padding: 0;
        margin: -5px;
        display: flex;
        flex-flow: row wrap;

        @include media-breakpoint-up(md) {
            margin: -10px;
        }

        li {
            padding: 5px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-up(md) {
                width: 33.333%;
                padding: 10px;
            }

            a {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                background: $white;
                border-radius: 25px;
                transition: all 0.3s ease-in-out;

                @include media-breakpoint-up(xl) {
                    height: 140px;
                    padding: 20px;
                    border-radius: 50px;
                }

                img {
                    max-width: 100%;
                }

                &:hover {
                    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
                }

                &.btn-more {
                    width: 95px;
                    height: 95px;
                    border-radius: 100%;
                    margin: 0 auto;
                    font-size: 24px;
                    color: $black;
                    position: relative;

                    &:after {
                        width: 82px;
                        height: 82px;
                        border: 1px solid #dedede;
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}

/* How Works Section Styles */
.section-how-works {
    .container {
        @include media-breakpoint-up(xxl) {
            max-width: 1320px;
        }

        .col-md-4 {
            &:last-child {
                .how-work-box {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}


/* How Works Box Styles */
.how-work-box {
    width: 100%;
    position: relative;

    @include media-breakpoint-up(xl) {
        font-size: 18px;
        line-height: 1.667;
    }

    &:before {
        position: absolute;
        left: 100%;
        top: 45px;
        width: 150px;
        height: 5px;
        content: '';
        transform: translateX(-45%);
        background: url('../images/process-arrow.png') no-repeat;
        background-size: 100% 100%;
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        @include media-breakpoint-up(xl) {
            width: 200px;
            height: 9px;
        }

        @include media-breakpoint-up(xxl) {
            width: 249px;
            height: 13px;
        }
    }

    .icon {
        width: 100px;
        height: 100px;
        border-radius: 0 100% 100% 100%;
        background: $lt-yellow;
        margin: 0 auto 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .num {
        display: block;
        text-decoration: underline;
        color: $black;
        margin: 0 0 10px;
    }

    .h5 {
        display: block;
        color: $black;
        margin: 0 0 10px;

        @include media-breakpoint-up(xl) {
            font-size: 26px;
        }
    }
}

/* How Works Box Styles */
.matched-jobs-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    background: $dark-green;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    color: $white;
    padding: 35px 25px;
    max-width: 1290px;
    margin: 0 auto;
    position: relative;

    @include media-breakpoint-up(md) {
        flex-flow: row nowrap;
    }

    @include media-breakpoint-up(lg) {
        padding: 40px;
    }
    
    @include media-breakpoint-up(xl) {
        padding: 60px;
        border-radius: 45px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 60px 80px;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 6%;
        right: 6%;
        bottom: -25px;
        background: $lt-yellow;
        content: '';
        border-radius: 25px;
        z-index: -1;

        @include media-breakpoint-up(xl) {
            border-radius: 45px;
        }
    }

    .section-header {
        margin: 0 0 35px;
        width: 100%;
        color: $white;

        @include media-breakpoint-up(md) {
            width: 50%;
            margin: 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
        }

        h2 {
            color: $white;
            line-height: 1.2;
            margin-bottom: 30px;
        }

        p {
            @include media-breakpoint-up(lg) {
                margin-bottom: 50px;
            }
        }

        .btn {
            .btn-text {
                display: flex;
                align-items: center;

                .icon-upload-cloud {
                    font-size: 24px;
                    line-height: 1;
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    .image-holder {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
        position: relative;

        @include media-breakpoint-up(sm) {
            max-width: 280px;
        }

        @include media-breakpoint-up(md) {
            width: 41%;
            margin: 0;
            max-width: inherit;
        }

        &:before {
            position: absolute;
            top: 1%;
            left: -7%;
            right: -7%;
            bottom: 1%;
            content: '';
            background: url('../images/icons-pattern.png') no-repeat;
            background-size: 100% 100%;

            @include media-breakpoint-up(md) {
                left: -15%;
                right: -7%;
            }
        }

        img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
        }
    }
}

/* Section Quotes Styles */
.section-quotes {
    overflow: hidden;

    .section-header {
        max-width: 800px;
    }
}

/* Quotes Slider Styles */
.quotes-slider {
    margin: -7px -7px 0;

    @include media-breakpoint-up(xl) {
        margin: -15px -15px 0;
    }

    @include media-breakpoint-up(xxl) {
        margin: -20px -20px 0;
    }

    .slick-list {
        margin-bottom: 25px;

        @include media-breakpoint-up(md) {
            margin-bottom: 50px;
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: 80px;
        }
    }

    .slick-track {
        display: flex;
    }

    .slick-slide {
        padding: 7px;
        height: auto;

        @include media-breakpoint-up(xl) {
            padding: 15px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 20px;
        }
    }

    .quotes-box {
        height: 100%;
    }
}

/* Quotes Box Styles */
.quotes-box {
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid #d5d5d5;
    display: block;
    color: #444;
    background: $white;
    padding: 25px 15px;
    line-height: 1.85;
    box-shadow: 0 10px 0 $lt-yellow;
    transition: 0.3s;

    @include media-breakpoint-up(md) {
        padding: 30px 20px;
    }

    @include media-breakpoint-up(xl) {
        padding: 35px 20px;
        border-radius: 45px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 35px 30px;
    }

    @include media-breakpoint-up(xxxl) {
        padding: 45px;
        font-size: 18px;
    }

    .author-box {
        margin: 0 0 18px;
        padding: 0 0 12px;
        position: relative;
        border-bottom: 1px solid #c0c0c0;
    }

    .author-avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 100%;
        border: 3px solid $lt-yellow;
        margin: 0 0 20px;

        @include media-breakpoint-up(xl) {
            width: 130px;
            height: 130px;
            border-width: 6px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    .social-icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $lt-yellow;
        color: $black;
        font-size: 16px;
        line-height: 1;
        position: absolute;
        left: 70px;
        top: 0;

        @include media-breakpoint-up(xl) {
            left: 95px;
            width: 56px;
            height: 56px;
            font-size: 18px;
        }
    }

    .author-name {
        display: block;
        color: $black;
        transition: 0.3s;

        span {
            font-weight: 400;
            font-size: 14px;
        }
    }

    &:hover {
        background: $dark-green;
        border-color: $dark-green;
        color: $white;
        box-shadow: 0 10px 0 $lt-yellow;

        .author-name {
            color: $white;
        }
    }
}

/* Featured News Block Styles */
.featured-news-block {
    overflow: hidden;

    .section-header {
        max-width: 850px;
    }
}

.btn-all {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    color: $black;
    margin-top: 6px;
    transition: 0.3s;

    .icon-chevron-right {
        width: 44px;
        height: 44px;
        border-radius: 100%;
        border: 3px solid $lt-yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        margin: 0 0 0 20px;
        transition: 0.3s;

        @include media-breakpoint-up(lg) {
            width: 70px;
            height: 70px;
            font-size: 24px;
            border-width: 5px;
        }
    }

    &:hover {
        color: $black;

        .icon-chevron-right {
            background: $lt-yellow;
        }
    }
}

/* Article News Styles */
.article-news {
    display: flex;
    align-items: center;
    padding: 15px 0;

    @include media-breakpoint-up(sm) {
        padding: 20px 0;
    }

    .image-holder {
        width: 40%;
        overflow: hidden;
        flex-shrink: 0;
        box-shadow: 0 10px 0 #f1f1f1;
        transition: 0.3s;
        border-radius: 15px;

        @include media-breakpoint-up(xl) {
            border-radius: 25px;
        }

        @include media-breakpoint-up(xxl) {
            width: 50%;
            max-width: 300px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 15px;

            @include media-breakpoint-up(xl) {
                border-radius: 25px;
            }
        }
    }

    .textbox {
        flex-grow: 1;
        min-width: 0;
        padding: 0 0 0 15px;

        @include media-breakpoint-up(xl) {
            padding: 0 0 0 25px;
        }
    }

    .subtitle {
        color: #8d8d8d;
        font-size: 12px;
        line-height: 1.5;
        display: block;
        margin: 0 0 5px;

        @include media-breakpoint-up(sm) {
            font-size: 14px;
            margin: 0 0 10px;
        }
    }

    h5 {
        font-size: 14px;

        @include media-breakpoint-up(sm) {
            font-size: 18px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 20px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 22px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 26px;
            margin: 0 0 20px;
        }

        a {
            color: $black;
            display: block;

            &:hover {
                color: $green;
            }
        }
    }

    .author {
        color: #555;
        display: block;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }

        strong {
            color: $black;
            text-decoration: none;
        }
    }

    &:hover {
        .image-holder {
            box-shadow: 0 10px 0 #d5fe68;
        }
    }
}

/* Section Downloads Styles */
.section-downloads {
    overflow: hidden;

    .container {
        position: relative;
    }

    .section-header {
        max-width: 850px;

        @include media-breakpoint-up(xl) {
            font-size: 22px;
            color: $black;
        }
    }

    .app-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        max-width: inherit;

        a {
            display: block;
            margin: 0 5px;
            max-width: 150px;

            @include media-breakpoint-up(sm) {
                margin: 0 10px;
            }

            @include media-breakpoint-up(lg) {
                max-width: 175px;
            }

            @include media-breakpoint-up(xxl) {
                max-width: 218px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .icon {
        position: absolute;
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }

        &.ico01 {
            left: 0;
            top: 0;

            @include media-breakpoint-up(lg) {
                left: 2.5%;
            }
        }

        &.ico02 {
            bottom: 0;
            left: 0;

            @include media-breakpoint-up(lg) {
                bottom: 1%;
                left: 6%;
            }
        }

        &.ico03 {
            top: 0;
            right: 0;

            @include media-breakpoint-up(lg) {
                right: 6%;
            }
        }

        &.ico04 {
            bottom: 0;
            right: 0;

            @include media-breakpoint-up(lg) {
                bottom: 1%;
                right: 2.5%;
            }
        }
    }
}

.subvisual-theme-1 {
    min-height: inherit;
    font-family: $font-family-epilogue;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-family: $font-family-epilogue;
    }

    &.bg-dark-green {
        background-image: url("../images/visual-inner-theme1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .pattern-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .container {
        z-index: 1;
    }

    .subvisual-textbox {
        overflow: hidden;
        padding-bottom: 30px;

        @include media-breakpoint-up(xl) {
            padding-bottom: 55px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }
    }

    h1 {
        line-height: 1;
    }

    .fields-holder {
        margin: 0;
    }

    .breadcrumb-nav {
        border-radius: 0;
        padding: 25px 15px 0;
        border-top: 1px solid rgba(255,255,255, 0.15);

        .breadcrumb {
            font-size: 14px;
            font-weight: 500;
            font-family: $font-family-epilogue;

            a {
                &:hover {
                    color: $green;
                }
            }
        }
    }

    .form-subscribe {
        position: relative;

        .form-control {
            margin-bottom: 0;
            border-color: $white;
            padding-right: 150px;

            @include media-breakpoint-up(xl) {
                padding: 16px 30px;
                padding-right: 200px;
            }
        }

        .btn {
            &.btn-search {
                margin-top: 20px;
                width: 100%;

                @include media-breakpoint-up(md) {
                    margin-top: 0;
                    width: auto;
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    min-width: 175px;
                    transform: translateY(-50%);
                }

                @include media-breakpoint-up(xl) {
                    right: 7px;
                }

                @include media-breakpoint-down(xl) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                @include media-breakpoint-down(lg) {
                    padding-top: 13px;
                    padding-bottom: 13px;
                }

                .btn-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .icon-search {
                    font-size: 20px;
                    line-height: 1;
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    &.block-404 {
        border-bottom: 1px solid rgba(255,255,255, 0.15);

        .pattern-image {
            display: none;
        }

        .subvisual-textbox {
            padding: 0;
        }

        h1 {
            color: $light-green;
            font-weight: 200;
            font-size: 90px;
            line-height: 0.95;
            margin: 0;

            @include media-breakpoint-up(md) {
                font-size: 110px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 175px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 210px;
            }
        }

        h2 {
            margin: 0 0 30px;

            @include media-breakpoint-up(xl) {
                font-size: 40px;
            }

            @include media-breakpoint-down(lg) {
                font-size: 26px;
                margin: 0 0 20px;
            }
        }

        p {
            margin: 0 0 25px;
        }

        .form-subscribe {
            @include media-breakpoint-up(md) {
                max-width: 650px;
            }

            form {
                position: relative;
            }

            .btn {
                min-width: 220px;
            }
        }

        .form-control {
            margin-bottom: 20px;
            padding-right: 70px;

            @include media-breakpoint-up(xl) {
                padding-right: 80px;
            }
        }

        .btn-search {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateY(-50%);
            background: #e5e5e5;
            color: $black;
            font-size: 17px;
            line-height: 1;
            border-radius: 100%;
            border: 0;
            transition: 0.3s;

            @include media-breakpoint-up(xl) {
                width: 54px;
                height: 54px;
                right: 7px;
                font-size: 20px;
            }

            &:hover {
                color: $white;
                background: $green;
            }
        }

        .image-404 {
            width: 100%;
            margin-top: 30px;

            @include media-breakpoint-up(md) {
                margin: 0;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

/* Contact Support Styles */
.contact-support {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    background: $light-yellow;
    padding: 20px;

    @include media-breakpoint-up(lg) {
        padding: 25px;
    }

    @include media-breakpoint-up(xl) {
        padding: 35px 30px 30px;
        border-radius: 45px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 45px 45px 40px;
    }

    .contact-box {
        display: flex;
        align-items: center;
        text-align: left;
        margin: 0 0 40px;
        font-size: 14px;

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 0 10px;
            font-size: 18px;
        }

        .icon-holder {
            width: 50px;
            height: 50px;
            color: $green;
            flex-shrink: 0;
            background: $white;
            margin: 0 15px 0 0;
            border-radius: 100%;
            border: 2px solid $green;
            box-shadow: inset 0 0 0 2px $light-yellow;
            font-size: 24px;

            @include media-breakpoint-up(lg) {
                width: 90px;
                height: 90px;
                font-size: 32px;
                margin: 0 20px 0 0;
                box-shadow: inset 0 0 0 3px $light-yellow;
            }
        }

        h3 {
            font-size: 14px;
            color: #000;
            margin: 0 0 10px;
        }

        address,
        p {
            margin: 0;
        }
 
        a {
            color: currentColor;
            text-decoration: underline;

            &:hover {
                color: $green;
            }
        }
    }

    .btn {
        width: 100%;
    }
}

/* Section Accounts Styles */
.section-accounts {
    overflow: hidden;
}

/* Account Form Styles */
.account-box {
    margin-bottom: 25px;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }

    .icon {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 10px solid $white;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $green;
        margin: 0 auto -40px;
        position: relative;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            width: 103px;
            height: 103px;
            border-width: 14px;
            margin-bottom: -55px;
        }
    }

    .account-box-frame {
        border-radius: 25px;
        padding: 60px 15px 30px;
        background: $light-sky;

        @include media-breakpoint-up(lg) {
            padding: 80px 30px 30px;
        }

        @include media-breakpoint-up(xl) {
            padding: 80px 65px 40px;
            border-radius: 45px;
        }
    }

    .form-head {
        overflow: hidden;
        text-align: center;
        padding: 0 0 5px;

        h2 {
            @include media-breakpoint-up(xxl) {
                font-size: 40px;
            }

            @include media-breakpoint-down(lg) {
                font-size: 24px;
            }
        }
    }

    .form-tabs {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: flex;
        border-radius: 30px;
        background: $white;
        border: 2px solid $light-yellow;

        li {
            width: 50%;

            .nav-link  {
                width: 100%;
                background: $white;
                color: $mperor;
                border-radius: 30px;
                border: 0;
                font-weight: 600;
                padding: 12px;

                &.active,
                &:hover {
                    color: $black;
                    background: $light-yellow;
                }
            }
        }
    }

    .contac-form {
        margin: 0 0 25px;

        @include media-breakpoint-up(lg) {
            margin: 0 0 45px;
        }

        .form-control {
            color: $black;

            @include media-breakpoint-down(lg) {
                font-size: 15px;
                padding: 8px 20px;
            }

            @include media-breakpoint-down(md) {
                padding: 6px 25px;
            }

            @include media-breakpoint-up(lg) {
                padding: 12px 30px;
                border-width: 2px;
                border-color: #e0e0e0;
                font-size: 16px;
            }

            &::placeholder {
                color: $mperor;
            }
        }

        textarea {
            &.form-control {
                max-width: 100%;
                height: 160px;

                @include media-breakpoint-up(xl) {
                    height: 180px;
                }

                @include media-breakpoint-down(lg) {
                    border-radius: 25px;
                }
            }
        }

        .btn {
            width: 100%;
        }

        .custom-checkbox {
            color: #040404;
            font-weight: 700;

            .text-normal {
                font-weight: 400;
            }

            .fake-checkbox {
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                border-width: 2px;
                border-color: #e0e0e0;
                border-radius: 0;
                margin: 0 15px 0 0;

                &:before {
                    width: 10px;
                    height: 6px;
                }
            }

            input[type="checkbox"]{
                &:checked {
                    + .fake-checkbox {
                        border-color: $green;
                        background: $green;
                    }
                }
            }

            &.terms {
                align-items: flex-start;
                font-weight: 400;

                .label-text {
                    line-height: 1.5;
                }
            }
        }

        .link {
            color: #040404;
            font-weight: 700;
            display: inline-block;
            text-decoration: underline;

            &:hover {
                color: $green;
            }
        }
    }

    .social-login {
        overflow: hidden;
        text-align: center;

        .title {
            display: block;
            color: $black;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 7px;

            @include media-breakpoint-up(lg) {
                margin: 0 0 10px;
            }
        }
    }

    .social-networks {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        li {
            padding: 5px;

            @include media-breakpoint-up(xl) {
                padding: 7px;
            }

            a {
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #4161c9;

                @include media-breakpoint-up(lg) {
                    width: 50px;
                    height: 50px;
                }

                img {
                    width: 16px;
                    height: auto;
                    display: block;
                }

                &.facebook {
                    background: #4161c9;

                    img {
                        width: 18px;
                    }
                }

                &.google {
                    background: #f54c4c;
                }
            }
        }
    }
}

.section-faqs {
    overflow: hidden;

    .accordion {
        .accordion-item {
            &:last-child {
                .accordion-header {
                    margin: 0;
                }
            }
        }
        .accordion-header {
            margin: 0 0 10px;

            @include media-breakpoint-up(md) {
                margin: 0 0 15px;
            }

            @include media-breakpoint-up(lg) {
                margin: 0 0 20px;
            }
        }

        .accordion-button {
            display: flex;
            align-items: center;
            width: 100%;
            background: $light-yellow;
            border-radius: 50px;
            font-size: 14px;
            line-height: 1.25;
            color: $black;
            border: 0;
            padding: 7px;
            font-weight: 700;
            text-align: left;

            @include media-breakpoint-up(md) {
                font-size: 18px;
                padding: 10px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 20px;
                padding: 15px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 22px;
            }

            .bullet {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                position: relative;
                background: $green;
                margin: 0 10px 0 0;
                transition: 0.3s;

                @include media-breakpoint-up(md) {
                    margin: 0 15px 0 0;
                }

                @include media-breakpoint-up(lg) {
                    margin: 0 22px 0 0;
                    width: 52px;
                    height: 52px;
                }

                &:before,
                &:after {
                    width: 12px;
                    height: 2px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    content: '';
                    transform: translate(-50%, -50%);
                    background: $white;

                    @include media-breakpoint-up(lg) {
                        width: 16px;
                        height: 4px;
                    }
                }

                &:after {
                    width: 2px;
                    height: 12px;
                    display: none;

                    @include media-breakpoint-up(lg) {
                        width: 4px;
                        height: 16px;
                    }
                }
            }

            &.collapsed {
                .bullet {
                    background: $white;

                    &:before,
                    &:after {
                        background: $black;
                    }

                    &:after {
                        display: block;
                    }
                }
            }
        }

        .accordion-body {
            line-height: 1.9;
            padding: 5px 10px 15px;

            @include media-breakpoint-up(md) {
                padding: 10px 20px 15px 65px;
            }

            @include media-breakpoint-up(lg) {
                padding: 15px 30px 30px 90px;
            }

            @include media-breakpoint-up(xl) {
                padding: 15px 50px 30px 90px;
            }
        }
    }
}