.footer-theme-20 {
    overflow: hidden;
    background: url('../images/background-footer.jpg') no-repeat;
    background-size: 100% 100%;

    .btn {
        border-radius: 5px;
        line-height: 24px;

        @include media-breakpoint-up(md) {
            font-size: 16px;
            padding: 13px 30px;
        }

        &:before {
            display: none;
        }

        &.btn-primary {
            color: $white;
            background: #200df2;

            &:hover {
                color: #200df2;
                background: #d2cffc;
            }
        }

        &.btn-white {
            &:hover {
                color: #200df2;
                background: #d2cffc;
            }
        }
    }

    .pri-footer {
        border-bottom: 1px solid #2b2b2b;

        .logo {
            width: 181px;
            margin: 0 0 30px;

            @include media-breakpoint-up(xl) {
                margin: 0 30px 0 0;
            }
        }
    }

    .footer-copyrights {
        border-top: 1px solid #2b2b2b;
        color: $white;
        text-align: center;
        font-weight: 300;

        p {
            margin: 0;
        }
    }

    .social-networks {
        font-size: 16px;
        margin: 0 0 35px;

        @include media-breakpoint-up(md) {
            margin: 0;
        }

        li {
            a {
                border: 1px solid $white;
                background: transparent;

                &:hover {
                    background: #200df2;
                    border-color: #200df2;
                }
            }
        }
    }

    .newsletter-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include media-breakpoint-up(xl) {
            flex-wrap: nowrap;
            justify-content: flex-end;
        }

        .title {
            display: block;
            font-size: 20px;
            line-height: 1.1;
            font-weight: 700;
            color: $white;
            position: relative;
            padding-left: 42px;
            margin-right: 20px;
            min-width: 262px;
            margin: 0 0 30px;

            @include media-breakpoint-up(md) {
                margin: 0 0 20px;
            }

            @include media-breakpoint-up(xl) {
                margin: 0 15px 0 0;
            }

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 32px;
                height: 32px;
                content: '';
                background: url('../images/paper-plane.svg') no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    .form-newsletter {
        width: 100%;

        @include media-breakpoint-up(xl) {
            max-width: 485px;
        }

        .form-control {
            border-radius: 5px;
            background: transparent;
            border: 1px solid #b1b1b1;
            font-size: 16px;
            width: 100%;
            padding-right: 125px;

            @include media-breakpoint-up(md) {
                padding-left: 25px;
                padding-right: 165px;
            }
        }

        .btn.btn-primary {
            width: 105px;
            height: 50px;
            font-size: 16px;
            min-width: inherit;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media-breakpoint-up(md) {
                width: 140px;
            }
        }
    }
}

.footer-nav {
    overflow: hidden;
    margin: 0 0 30px;

    @include media-breakpoint-up(lg) {
        margin: 0;
    }

    .h5 {
        color: $white;
        display: block;
        font-size: 18px;
        line-height: 1.25;
        position: relative;
        padding: 0 0 10px;
        margin: 0 0 15px;

        @include media-breakpoint-up(md) {
            font-size: 21px;
            margin: 0 0 30px;
        }

        @include media-breakpoint-up(xl) {
            font-size: 26px;
        }

        &:before {
            width: 42px;
            height: 3px;
            background: #200df2;
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 2;

        li {
            padding: 5px 0 5px 20px;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                width: 10px;
                height: 10px;
                content: '';
                top: 15px;
                background: url('../images/forward-icon.svg') no-repeat;
                background-size: 100% 100%;

                @include media-breakpoint-up(lg) {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            a {
                color: #bcbcbc;
                display: inline-block;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}