/* Footer Theme 3 Styles */
.footer-theme-1 {
    font-family: $font-family-epilogue;
    position: relative;
    overflow: visible;
    background: url('../images/bg-footer-green.jpg') no-repeat;
    background-size: cover;

    h5 {
        color: $white;
        position: relative;
        padding-top: 0;
        padding-bottom: 7px;

        @include media-breakpoint-down(xl) {
            font-size: 20px;
        }

        &:after {
            width: 50px;
            height: 3px;
            content: '';
            left: 0;
            bottom: 0;
            position: absolute;
            background: $lt-yellow;
        }
    }

    .pri-footer {
        position: relative;
        overflow: visible;

        &.bg-dark-green {
            background: none !important;
        }

        .logo {
            @include media-breakpoint-up(xl) {
                width: 175px;
                margin-bottom: 55px;
            }
        }

        .footer-info {
            p {
                @include media-breakpoint-up(xl) {
                    margin: 0 0 15px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .contact-list {
        font-size: 16px;
        font-weight: 400;

        @include media-breakpoint-up(lg) {
            max-width: 240px;
        }

        li {
            i {
                font-size: 20px;
                margin: 0 12px 0 0;
            }

            a {
                font-weight: 400;
            }
        }
    }

    .footer-links {
        li {
            a {
                &:hover {
                    color: $lt-yellow;
                }
            }
        }
    }

    .sec-footer {
        font-weight: 400;

        @include media-breakpoint-up(md) {
            font-size: 14px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 16px;
        }
        
        &.bg-dark-green {
            background: none !important;
        }

        p {
            .site-link {
                color: $white;
                font-weight: 600;
                border-bottom: 1px solid rgba(255,255,255,0.35);

                &:hover {
                    color: $dark-yellow;
                }
            }
        }
    }

    .footer-links {
        li {
            a {
                &:hover {
                    color: $lt-yellow;
                }
            }
        }
    }
}