.header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 75px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 222px;
        display: block;

        @include media-breakpoint-up(lg) {
            width: 155px;
        }

        @include media-breakpoint-up(xl) {
            width: 200px;
        }

        @include media-breakpoint-up(xxl) {
            width: 222px;
        }
    }

    .btn {
        min-width: 125px;
        padding: 8px 20px 10px;
        letter-spacing: 0.75px;

        @include media-breakpoint-up(lg) {
            font-size: 13px;
            min-width: 100px;
            padding: 8px 15px 10px;
        }
    
        @include media-breakpoint-up(xl) {
            font-size: 15px;
            min-width: 125px;
            padding: 8px 20px 10px;
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;

    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }

    > li {
        padding: 0 40px;

        > a {
            color: $white;

            i {
                font-size: 11px;
            }
        }
    }

    .dropdown-menu {
        background: $white;
        border: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        font-size: 15px;
    }
}