.header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    @include media-breakpoint-up(md) {
        padding: 35px 0;
    }

    @include media-breakpoint-up(xxl) {
        padding: 50px 0;
    }

    @include media-breakpoint-up(xxxl) {
        padding: 72px 0;
    }

    .sticky-header & {
        position: fixed;
        padding: 10px 0;
        background: $white;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);

        @include media-breakpoint-up(md) {
            padding: 20px 0 !important;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .logo {
        width: 165px;
        display: block;

        @include media-breakpoint-up(md) {
            width: 175px;
        }

        @include media-breakpoint-up(xl) {
            width: 200px;
        }

        @include media-breakpoint-up(xxl) {
            width: 222px;
        }

        a {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .sticky-logo {
            display: none;
        }
    }
}

.nav-opener,
.nav-close {
    width: 36px;
    height: 32px;
    position: relative;

    &:before,
    &:after,
    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background: $white;
        content: '';
        transition: all 0.3s ease-in-out;
    }

    &:before {
        top: 4px;
    }

    &:after {
        bottom: 4px;
    }

    span {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        &:before,
        &:after,
        span {
            background: $primary;
        }
    }
}

.nav-close {
    position: absolute;
    right: 20px;
    top: 20px;

    &:before {
        .nav-active & {
            top: 14px;
            transform: translateX(-50%) rotate(45deg);
        }
    }

    &:after {
        .nav-active & {
            bottom: 14px;
            transform: translateX(-50%) rotate(-45deg);
        }
    }

    span {
        .nav-active & {
            opacity: 0;
        }
    }
}

.nav-drop {
    @include media-breakpoint-down(lg) {
        background: $blue-dark;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 280px;
        overflow: auto;
        transform: translateX(105%);
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .nav-active & {
        @include media-breakpoint-down(lg) {
            transform: none;
        }
    }
}

.navigation {
    font-size: 16px;
    line-height: 1.5;
    list-style: none;
    padding: 70px 30px;
    margin: 0;
    font-family: $headings-font-family;

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        padding: 0;
    }

    @include media-breakpoint-up(xl) {
        font-size: 20px;
    }

    @include media-breakpoint-up(xxxl) {
        font-size: 24px;
    }

    > li {
        position: relative;
        
        &:not(:last-child) {
            @include media-breakpoint-up(lg) {
                padding: 0 15px;
            }

            @include media-breakpoint-up(xl) {
                padding: 0 20px;
            }

            @include media-breakpoint-up(xxl) {
                padding: 0 30px;
            }
            
            @include media-breakpoint-up(xxxl) {
                padding: 0 40px;
            }
        }

        > a {
            display: flex;
            align-items: center;

            &:not(.btn) {
                color: $white;
                padding: 10px 0;

                &:hover {
                    color: $primary;
                }
            }

            .icon-user {
                font-size: 28px;
                margin-right: 8px;

                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                }

                @include media-breakpoint-up(xl) {
                    font-size: 24px;
                    margin-right: 12px;
                }

                @include media-breakpoint-up(xxxl) {
                    font-size: 28px;
                }
            }

            &.dropdown-toggle {
                &:after {
                    border: 0;
                    font-family: 'icomoon';
                    content: '\e917';
                    line-height: 1;

                    @include media-breakpoint-down(lg) {
                        margin-left: auto;
                    }
                }
            }

            &.btn-info {
                padding-top: 12px;
                padding-bottom: 12px;

                @include media-breakpoint-down(lg) {
                    text-align: center;
                    justify-content: center;
                    margin-top: 15px;
                }
            }

            &.dropdown-toggle {
                &.show {
                    @include media-breakpoint-down(lg) {
                        color: $primary;
                    }
                }
            }
        }

        &:hover {
            .dropdown-toggle {
                color: $primary;
            }
        }

        &.active {
            > a {
                color: $primary;
            }
        }

        &:hover {
            .dropdown-menu {
                @include media-breakpoint-up(lg) {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                }
            }
        }
        
        &.text-login {
            font-weight: 700;
        }

        &.mega-menu {
            position: static;
        }
    }

    .dropdown-menu {
        background: $white;
        border: 0;

        @include media-breakpoint-up(lg) {
            max-height: 400px;
            overflow: auto;
        }

        @include media-breakpoint-up(lg) {
            display: block;
            min-width: 220px;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            margin-top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        @include media-breakpoint-up(xl) {
            font-size: 16px;
        }

        @include media-breakpoint-down(lg) {
            position: static !important;
            transform: none !important;
            border-radius: 0;
            background: transparent;
        }

        li {
            &.active {
                > a {
                    color: $primary;
                }
            }
        }

        .dropdown-item {
            padding: 7px 15px;
            
            @include media-breakpoint-down(lg) {
                color: $white;
                border-radius: 5px;
            }

            &:hover {
                color: $white;
                background: $primary;
            }
        }

        &.mega {
            width: 100%;
            max-width: 1000px;
            padding-top: 20px;
            padding-bottom: 20px;

            @include media-breakpoint-down(lg) {
                padding-top: 0;
                padding-bottom: 0;
                max-width: inherit;
                width: calc(100% + 30px);
                margin-left: -15px !important;
                margin-right: -15px !important;
            }

            .container {
                display: block;
            }

            .title {
                display: block;
                padding: 0 15px;
                margin: 0 0 10px;

                @include media-breakpoint-down(lg) {
                    margin: 5px 0;
                    color: $white;
                }
            }

            ul {
                padding-bottom: 10px;
            }

            .dropdown-item {
                border-radius: 7px;
            }
        }
    }
}

.sticky-header {
    .logo {
        .normal-logo {
            display: none;
        }

        .sticky-logo {
            display: block;
        }
    }

    .navigation {
        > li {
            > a {
                &:not(.btn, :hover) {
                    @include media-breakpoint-up(lg) {
                        color: $secondary;
                    }
                }
            }

            &:hover {
                .dropdown-toggle {
                    @include media-breakpoint-up(lg) {
                        color: $primary;
                    }
                }
            }
        }
    }

    .nav-opener {
        &:not(:hover) {
            &:before,
            &:after,
            span {
                background: $secondary;
            }
        }
    }
}