.header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 72px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 222px;
        display: block;

        @include media-breakpoint-up(lg) {
            width: 155px;
        }

        @include media-breakpoint-up(xl) {
            width: 200px;
        }

        @include media-breakpoint-up(xxl) {
            width: 222px;
        }

        a {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.navigation {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: $headings-font-family;

    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 24px;
    }

    > li {
        position: relative;
        
        &:not(:last-child) {
            padding: 0 40px;
        }

        > a {
            display: flex;
            align-items: center;

            &:not(.btn) {
                color: $white;
                padding: 10px 0;

                &:hover {
                    color: $primary;
                }
            }

            .icon-user {
                font-size: 28px;
                margin-right: 12px;
            }

            &.dropdown-toggle {
                &:after {
                    border: 0;
                    font-family: 'icomoon';
                    content: '\e917';
                    line-height: 1;
                }
            }

            &.btn-info {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        &.active {
            > a {
                color: $primary;
            }
        }

        &:hover {
            .dropdown-menu {
                @include media-breakpoint-up(lg) {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                }
            }
        }
    }

    .dropdown-menu {
        background: $white;
        border: 0;

        @include media-breakpoint-up(lg) {
            display: block;
            min-width: 220px;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
            font-size: 16px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            margin-top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        .dropdown-item {
            padding: 7px 15px;

            &:hover {
                color: $white;
                background: $primary;
            }
        }
    }
}