.header-theme-5 {
	background: transparent;

    .top-bar {
        color: $black;
    }
	
	.nav-opener,
	.nav-close {
		&:before,
		&:after,
		span {
			background: $green;
		}

		&:hover {
			&:before,
			&:after,
			span {
				background: $green;
			}
		}
	}

	.nav-drop {
		@include media-breakpoint-down(lg) {
			background: var(--navy-dark);
		}
	}

	.navigation {
		> li {
			> a {
				&:not(.btn) {
					@include media-breakpoint-up(lg) {
						color: $black;
					}

					&:hover {
						color: $green;
					}
				}

				&.dropdown-toggle {
					&.show {
						@include media-breakpoint-down(lg) {
							color: $green;
						}
					}
				}
			}

			&:hover {
				.dropdown-toggle {
					color: $green;
				}
			}

			&.active {
				> a {
					color: $green;
				}
			}
		}

		.dropdown-menu {
			li {
				&.active {
					> a {
						color: $green;
					}

					&:hover {
						> a {
							color: $white;
						}
					}
				}

				&.tabActive {
                    > a {
                        background: $green;
                        color: $white;
                    }
                }
			}

			.dropdown-item {
				&:hover {
					background: $green;
				}
			}
		}
	}
}

.sticky-header {
	.header-theme-5 {
		.nav-opener {
            &:not(:hover) {
                &:before,
                &:after,
                span {
                    background: $green;
                }
            }
        }
	}
}