/* Footer Theme 12 Styles */
.footer-theme-12 {
	font-family: $font-family-DMSans;
	position: relative;
	overflow: visible;
	background:url(../images/theme-12-footer-img.jpg) no-repeat;
	background-size: cover;
	border-top: 1px solid $mercury;
	h5 {
		padding-top: 0; 
		position: relative;
		padding-bottom: 7px;
		font-family: $font-family-DMSans;
		@include media-breakpoint-down(xl) {
			font-size: 20px;
		}
		&:after {
			display: none;
		}
	}
	.footer-info{
		p{
			color: $white;
		}
	}

	.contact-info{
		display: flex;
		margin: 0 0 20px;
		align-items: center;

		a{
			color: $white;
		}
		p{
			color: $white;
			margin: 0;
		}

		.img-box{
			width: 44px;
			height: 44px;
			display: flex;
			margin: 0 10px 0 0;
			border-radius: 100%;
		    align-items: center;
		    justify-content: center;
			background: $dark-yellow;
		}
	}

	.pri-footer {
		position: relative;
		.logo {
			@include media-breakpoint-up(lg) {
				margin: 0 0 30px;
			}
		}
		p {
			@include media-breakpoint-up(md) {
				margin: 0 0 10px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 16px;
				margin: 0 0 30px;
			}
		}
	}
	h5{
		margin: 0;
		color: $black;
		font-size: 18px;
		@include media-breakpoint-up(xl) {
			font-size: 22px;
		}	
	}
	.footer-links {
		margin: 0 0 20px;
		li {
			position: relative;
			padding: 6px 0 6px 15px;
			@include media-breakpoint-up(lg) {
				padding: 11px 0 11px 15px;
			}
			a {
				color:$black;

				&:hover {
					color: $light-green;
				}
			}
			&:before {
				left: 0;
				top: 5px;
				content: ">";
				color: $black;
				position: absolute;
				@include media-breakpoint-up(lg) {
					top: 10px;
				}
			}
		}
	}
	.top-head{
		display: flex;
		margin:0 0 40px;
		align-items: center;

		.img-box{
			width: 76px;
			height: 76px;
		    display: flex;
		    margin: 0 14px 0 0;
		    align-items: center;
			border-radius: 100%;
		    justify-content: center;
			background: rgba(255,255,255, .10)

		}
		p{
			margin:0;
			color: $white;
		}
		.txt-box{
			max-width: 74%;
		}
	}
	.form-newsletter {
		.form-control{
		    height: 60px;
		    font-size: 14px;
		    padding-left: 30px;
		    padding-right: 130px;
		}
		.btn.btn-primary{
			top:0;
			right:0;
			bottom: 0;
		}
	}
	.sec-footer {
		font-weight: 400;
		background: $peach-cream;
		@include media-breakpoint-up(md) {
			font-size: 14px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
		p {
			text-align: center;
			@include media-breakpoint-up(xl) {
				text-align: left;
			}
			.site-link {
				font-weight: 600;
				color: currentColor;
				border-bottom: 1px solid rgba(0, 0, 0, 0.55);
				&:hover {
					color: $burning-orange;
				}
			}
		}
	}
	.social-networks {
		font-weight: 700;
		font-size: 16px;
		li {
			padding: 0;
			&:not(:last-child) {
				margin-right: 30px;
			}
			a {
				display: flex;
				border-radius: 0;
				align-items: center;
				@include size(48px);
				color: $black;
				border-radius: 100%;
				background: $white;
				justify-content: center;
				border: 1px solid $alto;
				&:hover {
					color: $white;
					background: $light-green;
				}
				i {
					font-size: 20px;
					margin-right: 0px;
					@include size(auto);
				}
				.txt {
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}
		}
		&.no-bg {
			li {
				&:before {
					display: none;
				}
			}
		}
	}
	.contact-info-box {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(xl) {
			padding-right: 30px;
		}
		* {
			display: block;
		}
		address {
			font-size: 14px;
			line-height: 1.625;
			position: relative;
			padding: 0 0 0 65px;
			@include media-breakpoint-up(md) {
				font-size: 16px;
			}
			p {
				margin: 0 0 20px;
			}
		}
		.icon {
			top: 0;
			left: 0;
			@include size(40px);
			position: absolute;
		}
		.phone {
			margin: 0 0 15px;
			font-weight: 700;
			line-height: normal;
			a {
				font-size: 18px;
				line-height: 22px;
				position: relative;
				color: currentColor;
				display: inline-block;
				&:hover {
					color: $burning-orange;
				}
				&:after {
					left: 0;
					right: 0;
					top: 100%;
					content: "";
					height: 2px;
					position: absolute;
					background: currentColor;
				}
			}
		}
		
	}
	.icon-map-pin{
		color: $white;
	}
	.bottom-footer{
		p{
			color: $white;
			margin:0;

			a{
				color: $white;
				text-decoration: underline;
				&:hover{
					color: $dark-yellow;
				}
			}
		}
	}
	.footer-columns{
		display: flex;
		flex-wrap: wrap;
		background: $white;
		border-radius: 40px;
		margin: 20px 0 40px;

		.column{
			width: 33.3%;
			display: flex;
			padding: 20px 10px;
			align-items: center;
			justify-content: center;
			border-right: 1px solid $alto;
			@include media-breakpoint-down(md) {
				width:100%;
				padding: 10px;
			}

			&:last-child{
				border: 0;
				img{
					width: 20px;
				}
			}
			.img-box{
				width: 42px;
				height: 42px;
				display: flex;
				margin: 0 10px 0 0;
				border-radius: 100%;
				align-items: center;
				justify-content: center;
				background: $light-green;

				svg{
					fill: $white;
				}

			}
			.txt-box{
				max-width: 70%;
				@include media-breakpoint-down(md) {
					max-width: 79%;
				}
				a{
					color: currentColor;
					font-weight: bold;
				}
			}
			p{
				margin: 0;
				font-size: 14px;
			}
		}
	}
	.copyright{
		color: $black;
		font-size: 16px;
		font-weight: bold;

		a{
			color:$black;
			&:hover{
				color: $light-green;
			}
		}
	}
}