.table-container {
    padding: 0 45px;
}

table {
    color: #000000;
    background: #e8e9e9;
    width: 742px;
    border-color: #f9fafa !important;
    border: 1px solid #e3e8ea !important;



    .table-heading {
        font-size: 25px;
        padding: 13px 0 13px 25px;
        width: 241px;
    }

    thead {
        tr {
            border-radius: 3px;
            border: 1px solid #e3e8ea !important;

        }

        th {

            border-width: 1px !important;
        }
    }



    tbody {
        tr {
            border: 1px solid #e3e8ea;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 3px;
            background: #ffffff;
            height: 86px;
            // padding: 16px 22px !important;

        }

        td {
            border: none;
            font-size: 14.58px;
            font-weight: 600;

        }
    }

}

.row-first-column {

    display: flex;
    align-items: center;
    padding: 16px 0 16px 22px !important;


    .image-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fcdfdc;
        border-radius: 50%;
        width: 55px;
        height: 55px;
    }

    .blue-color {

        background: #ecf3fe;

    }

    .green-color {

        background: #eaf6ed
    }

    .orange-color {
        background: #fff8e6 !important;
    }

    span {
        font-size: 16.67px;
        font-weight: bold;
        padding-left: 18px;
    }




}




.order-column {
    text-align: center;

    .vertical-line {
        position: relative;

        &::before {
            content: "|";
            position: absolute;
            top: 0px;
            left: -4px;
            color: #e3e8ea;
        }

        &::after {
            content: "|";
            position: absolute;
            top: 0px;
            right: -3px;
            color: #e3e8ea;


        }
    }

}

.table-block {
    padding: 53px 0 317px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .heading-text {
        text-transform: none;
        font-size: 29px !important;
        color: $black;
    }

    .reset-form-text {
        padding: 15px 0 38px 5px;
    }

    .description {
        color: #b8b8b8;
        text-align: center;
        font-size: 19px;
    }

    .view-invoice-btn {

        padding: 3px 12px;
        border-radius: 28px;
        border: none;
        font-size: 12.5px;
        text-decoration: none;
        background: #ea4335;
        color: white;
        cursor: pointer;
    }

    .blue-btn-color {

        background: #4285f4;
    }

    .green-btn-color {

        background: #34a853;
    }

    .orange-btn-color {
        background: #fbbc05;
    }

}




.subvisual-block {
    position: relative;

    .visual-content {
        min-height: 100px;
        padding: 47px 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 678px) {
            display: block;
        }

    }





    ul {
        display: flex;
        color: #000000;

        cursor: pointer;

        span {
            padding: 0 13px 0 26px;
        }
    }

    .active {
        color: #4285f4;
    }

    .breadcrumbs-heading {
        font-size: 24px;
        text-transform: none;
        color: $black;
        text-align: left;
        font-weight: bold;

        @media(max-width: 767px) {
            font-size: 20px;
        }
    }

    .breadcrumbs {
        padding: 0px;
        font-weight: 700;

    }

    li {
        list-style: none;

        @media (max-width: $tablet) {
            font-size: 13px;
        }
    }

    .dashboard-link {
        color: #202124 !important;
    }

    .calender-menu {}

    .calander-menu-list {
        align-items: end;
        justify-content: center;
        align-items: center;

        @media (max-width: $sm-desktop) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-left: 0px;
        }

        li {
            padding-right: 24px !important;

            @media (max-width: $tablet) {
                padding-right: 11px !important;
            }

            &:nth-last-child(2) {
                padding-right: 11px !important;
            }

            &:last-child {
                padding-right: 4px !important;
            }

        }
    }

    .calander-menu-list-btn {
        border: 1px solid #c0c2c2;
        border-radius: 5px;
        font-size: 20px !important;
        padding: 0 3px;
        text-align: center;
        background-color: #f5f7f7;
    }

    .calander-menu-list-calender-btn {
        border: 1px solid #c0c2c2;
        border-radius: 5px;
        font-size: 15px !important;
        padding: 6px 11px !important;
        text-align: center;
        align-items: center;
        background-color: #f5f7f7;
        display: inline-flex;

        @media (max-width: $tablet) {
            font-size: 9px !important;
        }

        .img-wrapper {

            padding-right: 8px;


        }

        span {
            padding: 0px;
        }
    }


    a {

        color: $black !important;


    }

    h1 {
        color: #000000;
        font-size: 35px;
        line-height: 1.4;
        font-weight: 300;
        max-width: 380px;




        strong {
            font-weight: 700;
        }


    }
}