// media queries
$sm-phone: 479px;
$phone: 575px;  
$tablet: 767px;
$desktop: 1023px;
$widescreen: 1199px;
$widescreen-x: 1439px;
$widescreen-xl: 1599px;

// colors
$primary: #fce38a;
$secondary:#f38181;
$tertiary: #95e1d3;
$text-color:#707070;
$white:#fff;
$black: #000;
$lt-black: #333;

$Source-Sans-Font: 'Source Sans 3', sans-serif;











