.visal-theme-5 {
    font-family: $font-family-epilogue;

    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    &:after {
        display: none;
    }

    .container {
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    .visual-textbox {
        margin: 0;
        max-width: inherit;

        @include media-breakpoint-up(xxl) {
            padding-top: 180px;
        }

        h1, .h1 {
            font-weight: 800;
            line-height: 1.2;
            padding-bottom: 0;
            font-family: $font-family-epilogue;

            @include media-breakpoint-up(xxl) {
                font-size: 60px;
            }

            @include media-breakpoint-up(xxxl) {
                font-size: 75px;
                margin: 0 0 30px;
            }

            &:after {
                display: none;
            }
        }

        p {
            color: $tundora;

            @include media-breakpoint-up(xxxl) {
                font-size: 22px;
            }
        }

        h1, .h1, p {
            @include media-breakpoint-up(lg) {
                max-width: 70%;
            }
        }
    }

    .form-search {
        overflow: hidden;
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            margin-bottom: 40px;
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            padding: 7px;
            background: $white;
            border-radius: 8px;
            max-width: inherit;
            border: 1px solid #d5d5d5;
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        }
    
        .fields-holder {
            padding: 13px 0;
            
            @include media-breakpoint-down(md) {
                padding: 0;
                background: transparent !important;
            }
    
            @include media-breakpoint-up(md) {
                border-radius: 100px;
                margin: 0 0 20px;
            }

            @include media-breakpoint-up(lg) {
                margin: 0;
                flex-grow: 1;
                min-width: 0;
            }
        }
    
        .form-group {
            padding: 8px 20px 8px 55px;
    
            @include media-breakpoint-up(md) {
                padding: 0 25px 0 55px;
                width: 100%;
            }

            @include media-breakpoint-up(xxl) {
                width: 38%;
            }

            &:first-child {
                @include media-breakpoint-up(xxl) {
                    width: 63%;
                }
            }
    
            + .form-group {
                @include media-breakpoint-up(md) {
                    border-left: 1px solid #666;
                }
            }
    
            .icon {
                left: 20px;
                font-size: 21px;
            }
        }
    
        .form-control {
            font-size: 14px;
            padding: 8px 0 6px;
    
            &::placeholder {
                color: #666;
            }
        }

        .select2-container--default {
            min-width: 180px;
        }
    
        .select2 {
            font-size: 14px;
    
            .select2-selection {
                padding: 5px 0;
            }
        }
    
        .select2-container--default {
            .select2-selection--single {    
                .select2-selection__placeholder {
                    color: #666;
                }
    
                .select2-selection__arrow {
                    &:before {
                        font-size: 18px;
                    }
                }
            }
        }
    
        .btn {
            border-radius: 10px;

            @include media-breakpoint-up(xxl) {
                min-width: 140px;
            }

            &:before {
                border-radius: 10px;
            }
        }
    }

    .popular-searches {
        .subtitle {
            color: $black;
        }

        ul {
            li {
                a {
                    color: $white;
                    background: $gun-powder;
                    border-color: $gun-powder;

                    &:hover {
                        color: $gun-powder;
                        background: $white;
                    }
                }
            }
        }
    }

    .illustration, 
    .circle-image {
        display: none;
        position: absolute;

        @include media-breakpoint-up(lg) {
            display: block;
        }

        img {
            @include size(100%, auto);
        }
    }

    .circle-image {
        right: -10%;
        bottom: -5%;
        width: 550px;
        height: 550px;
        border-radius: 100%;
        overflow: hidden;

        @include media-breakpoint-up(xl) {
            width: 700px;
            height: 700px;
        }

        @include media-breakpoint-up(xxl) {
            width: 800px;
            height: 800px;
            bottom: -10%;
        }

        @include media-breakpoint-up(xxxl) {
            width: 950px;
            height: 950px;
            bottom: -15%;
        }

        @include media('>=1800px') {
            width: 1135px;
            height: 1135px;
            bottom: -20%;
        }

        &:after {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            background: rgba(30, 38, 111, 0.6);
        }
    }

    .illustration {
        left: -5%;
        bottom: 0;
    }
}