/* Visal Block Styles */
.visal-block {
    position: relative;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 80px;
    color: $white;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 21px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 24px;
        margin-top: 100px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 27px;
    }

    @include media-breakpoint-up(xxxl) {
        font-size: 30px;
    }

    .sticky-header & {
        margin-top: 65px;

        @include media-breakpoint-up(xl) {
            margin-top: 80px;
        }
    }

    .visual-textbox {
        overflow: hidden;
        padding-bottom: 26px;

        @include media-breakpoint-down(lg) {
            text-align: center;
            padding-bottom: 50px;
        }
    }

    h1 {
        font-size: 82px;
        margin: 0 0 10px;
        letter-spacing: 2.4px;

        @include media-breakpoint-down(xl) {
            font-size: 62px;
        }

        @include media-breakpoint-down(md) {
            font-size: 36px;
        }

        span {
            color: $primary;
        }
    }

    p {
        color: #fff6ee;
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 37px;
        letter-spacing: 3.4px;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
            font-size: 18px;
            letter-spacing: 2px;
        }
    }

    .buttons-wrap {
        margin: 0 -10px -10px;

        @include media-breakpoint-down(lg) {
            justify-content: center;
        }

        .btn {
            margin: 0 10px 10px;

            @include media-breakpoint-down(md) {
                min-width: 60%;
            }
        }
    }

    .visual-image {
        width: 100%;
    }

    .visual-image-wrap {
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            border-radius: 49% 0 0 49%;
            margin-right: calc((100vw - 930px) / -2);
        }

        @include media-breakpoint-up(xl) {
            margin-right: calc((100vw - 1170px) / -2);
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

/* Subvisual Block Styles */
.subvisal-block {
    position: relative;
    overflow: hidden;
    min-height: 300px;

    @include media-breakpoint-up(md) {
        min-height: 400px;
    }

    @include media-breakpoint-up(lg) {
        min-height: 450px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 550px;
    }

    @include media-breakpoint-up(xxl) {
        min-height: 651px;
    }

    .shape {
        position: absolute;
        width: 60%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &.top {
            top: 0;
            left: 0;
            max-width: 932px;
        }

        &.bottom {
            right: 0;
            bottom: 0;
            max-width: 979px;
        }
    }

    .icons-image {
        width: 100%;
        max-width: 1187px;
        position: absolute;
        left: 50%;
        bottom: 11.5%;
        transform: translateX(-50%);

        @include media-breakpoint-up(xxl) {
            transform: translateX(-51%);
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .container {
        z-index: 1;
    }

    h1 {
        margin: 0 0 23px;
    }
}

/* Breadcrumb Nav Styles */
.breadcrumb-nav {
    padding: 8px 20px;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
        padding: 13px 31px;
        border-radius: 10px;
    }
}

/* Breadcrumb Styles */
.breadcrumb {
    font: 600 14px/1.5 $headings-font-family;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 20px;
    }

    .breadcrumb-item {
        + .breadcrumb-item {
            &:before {
                color: $white;
            }
        }

        &.active {
            color: $white;
        }
    }

    a {
        color: $white;

        &:hover {
            color: $secondary;
        }
    }
}

/* Pagination Styles */
.pagination {
    margin: 0 -10px;
    
    @include media-breakpoint-up(lg) {
        margin: 0 -10px;
    }

    .page-link {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $light-gray;
        border-color: $light-gray;
        color: $body-color;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        padding: 10px;

        @include media-breakpoint-up(lg) {
            width: 46px;
            height: 46px;
            font-size: 20px;
        }

        @include media-breakpoint-up(xxl) {
            width: 54px;
            height: 54px;
            font-size: 25px;
        }

        @include media-breakpoint-up(xxxl) {
            width: 62px;
            height: 62px;
            font-size: 30px;
        }

        &:hover {
            color: $white;
            background: $primary;
            border-color: $primary;
        }
    }

    .page-item {
        padding: 0 5px;

        @include media-breakpoint-up(lg) {
            padding: 0 10px;
        }

        &:first-child,
        &:last-child {
            .page-link {
                font-size: 70px;
                border-radius: 100%;
                background: transparent;
                border-color: transparent;
                padding: 0;
                font-size: 40px;

                @include media-breakpoint-up(lg) {
                    font-size: 52px;
                }

                @include media-breakpoint-up(xxl) {
                    font-size: 62px;
                }

                @include media-breakpoint-up(xxxl) {
                    font-size: 70px;
                }

                &:hover {
                    color: $primary;
                }
            }
        }

        &.active {
            .page-link {
                color: $white;
                background: $primary;
                border-color: $primary;
            }
        }

        &.disabled {
            .page-link {
                color: $gray-500;
            }
        }
    }
}


/* Map Holder Styles */
.map-holder {
    overflow: hidden;
    border-radius: 5px;

    iframe {
        width: 100%;
        height: 300px;
        border: 0;
        border-radius: 5px;

        @include media-breakpoint-up(md) {
            height: 350px;
        }

        @include media-breakpoint-up(lg) {
            height: 450px;
        }

        @include media-breakpoint-up(xl) {
            height: 588px;
        }
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}


/* Column Wrapper Styles */
.column-wrapper {
    overflow: hidden;
    
    h2 {
        margin: 0 0 16px;
    }

    p {
        margin: 0 0 33px;
    }
}

/* Column Wrapper Styles */
.bullet-list {
    list-style: none;
    padding: 0;
    margin: 0 0 33px;

    li {
        position: relative;
        padding: 0 0 0 20px;
        margin: 0 0 5px;

        @include media-breakpoint-up(md) {
            margin: 0;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 0 0 40px;
        }

        &:before {
            position: absolute;
            left: 0;
            top: 8px;
            width: 6px;
            height: 6px;
            content: '';
            border-radius: 100%;
            background: $primary;

            @include media-breakpoint-up(md) {
                top: 10px;
            }

            @include media-breakpoint-up(xl) {
                top: 13px;
                width: 10px;
                height: 10px;
            }
        }

        &:last-child {
            .candidate-info-description {
                p {
                    &:last-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}

/* Slick Dots Styles */
.slick-dots {
    list-style: none;
    padding: 0;
    margin: 20px -7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;

    @include media-breakpoint-up(xxl) {
        margin-top: 30px;
    }

    li {
        font-size: 0;
        line-height: 0;
        padding: 0 7px;

        button {
            font-size: 0;
            line-height: 0;
            width: 15px;
            height: 15px;
            background: #e5e5e5;
            color: transparent;
            padding: 0;
            display: block;
            border-radius: 100%;
            border: 0;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $primary;
            }
        }

        &.slick-active {
            button {
                background: $primary;
            }
        }
    }
}

/* Video Box Styles */
.video-box {
    overflow: hidden;
    position: relative;
    margin: 0 0 35px;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .btn-play {
        width: 74px;
        height: 74px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $white;
        padding: 5px;
        border-radius: 100%;

        &:before {
            position: absolute;
            left: -10px;
            top: -10px;
            right: -10px;
            bottom: -10px;
            content: '';
            background: rgba(255,255,255,0.1);
            border-radius: 100%;
            z-index: -1;
        }

        .icon-play {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 6px solid $primary;
            border-radius: 100%;

            &:before {
                margin: 0 0 0 5px;
                content: '';
                border-style: solid;
                border-width: 12px 0 12px 18px;
                border-color: transparent transparent transparent $primary;
            }
        }
    }
}

.filters-head {
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-border;

    .filters-opener {
        position: relative;
        width: 36px;
        height: 30px;
        cursor: pointer;

        &:before,
        &:after,
        span {
            width: 24px;
            height: 2px;
            position: absolute;
            left: 50%;
            margin-left: -12px;
            content: '';
            background: $black;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            top: 5px;
        }

        &:after {
            bottom: 5px;
            width: 12px;
            margin-left: -6px;
        }

        span {
            width: 18px;
            margin-left: -9px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            &:before,
            &:after,
            span {
                background: $primary;
            }
        }
    }
}

/* Filters Sidebar Styles */
.filters-sidebar {
    border: 1px solid $gray-border;
    border-radius: 3px;
    padding: 20px 15px;
    margin-bottom: 35px;
    display: none;

    @include media-breakpoint-up(md) {
        padding: 30px 15px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
        display: block;
    }

    @include media-breakpoint-up(xl) {
        padding: 40px 20px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 50px 30px;
    }
    
    .btn {
        width: 100%;

        &.btn-text {
            &:hover {
                color: $primary;
            }
        }
    }

    .filter-buttons {
        overflow: hidden;

        .btn {
            + .btn {
                margin-top: 20px;
            }
        }
    }

    &.filters-active {
        display: block;
    }
}

/* Filter Box Styles */
.filter-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 25px;

    @include media-breakpoint-up(md) {
        margin: 0 0 40px;
    }

    h2 {
        margin-bottom: 12px;

        @include media-breakpoint-up(md) {
            margin-bottom: 18px;
        }
    }

    .form-group {
        margin-bottom: 15px;
        
        @include media-breakpoint-up(md) {
            margin-bottom: 25px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .form-control {
        @include media-breakpoint-down(xl) {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 16px;
        }
    }

    .select2.medium + .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-field {
        position: relative;

        .form-control {
            padding-right: 60px;

            @include media-breakpoint-up(xl) {
                padding-right: 75px;
            }
        }
    }

    .button-search {
        border: 0;
        background: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        line-height: 1;
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: color 0.3s ease-in-out;

        @include media-breakpoint-up(xl) {
            width: 70px;
            height: 70px;
            font-size: 22px;
        }

        &:hover {
            color: $primary;
        }
    }

    .select2 {
        width: 100% !important;
    }

    .price-inputs {
        border-radius: 40px;
        border: 1px solid $gray-border;
        background: $white;
        display: flex;
        align-items: center;
        margin: 0 0 15px;

        @include media-breakpoint-up(md) {
            margin: 0 0 25px;
        }

        .form-control {
            border: 0;
            width: 50%;
            box-shadow: none;
            outline: none;
            background: transparent;
            border-radius: 0;
            font-weight: 500;

            + .form-control {
                border-left: 1px solid $gray-border;
            }
        }
    }

    .button-add {
        position: absolute;
        right: 0;
        top: 7px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        line-height: 1;
        color: $body-color;

        &:hover {
            color: $primary;
        }
    }
}

/* Checkbox Limit Styles */
.checkbox-limit {
    .btn-primary {
        .hide {
            display: none;
        }
    }

    &.options-active {
        .checkbox-list {
            height: auto;
        }

        .btn-primary {
            .show {
                display: none;
            }

            .hide {
                display: inline;
            }
        }
    }
}

/* Checkbox List Styles */
.checkbox-list {
    list-style: none;
    padding: 15px 0 0;
    margin:  10px 0 25px;
    height: 175px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        padding-top: 0;
        height: 230px;
    }

    li {
        overflow: hidden;
        margin: 0 0 12px;
        line-height: 0;

        @include media-breakpoint-up(md) {
            margin: 0 0 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Custom Checkbox Styles */
.custom-checkbox {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    font-weight: 500;
    position: relative;

    .label-text {
        line-height: 1;
    }

    .fake-checkbox {
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 15px 0 0;
        background: #fff;
        border-radius: 5px;
        border: 1px solid $gray-border;
        position: relative;
        transition: all 0.3s ease-in-out;

        @include media-breakpoint-up(md) {
            width: 28px;
            height: 28px;
        }

        &:before {
            width: 15px;
            height: 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            content: '';
            transform: translate(-50%, -50%) rotate(-45deg);
            border: 2px solid $white;
            border-top: 0;
            border-right: 0;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            margin: -1px 0 0 0;
        }
    }

    input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

        &:checked {
            + .fake-checkbox {
                border-color: $primary;
                background: $primary;

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &:hover {
        .fake-checkbox {
            background: #f1f1f1;
        }
    }
}

/* Range Box Styles */
.range-box {
    padding: 25px 35px;
    background: $white;
    border: 1px solid $gray-border;
    border-radius: 5px;

    @include media-breakpoint-up(md) {
        padding: 30px 35px;
    }
}

/* UI Slider Styles */
.ui-slider {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: $light-gray;
    position: relative;

    .ui-slider-range {
        height: 100%;
        background: $primary;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: 10px;
    }

    .ui-slider-handle {
        width: 26px;
        height: 26px;
        background: $white;
        border: 5px solid $primary;
        position: absolute;
        cursor: pointer;
        touch-action: none;
        border-radius: 100%;
        margin-top: -9px;
        outline: none;
        z-index: 2;
        box-shadow: 0 3px 6px rgba(0,0,0,0.35);
        margin-left: -15px;
    }
}

/* Single Post Styles */
.post {
    h3, .h3, h4, .h4 {
        line-height: 1.25;
        margin: 0 0 20px;
    }

    h4, .h4 {
        margin-bottom: 25px;
    }

    blockquote {
        margin: 0 0 35px;
        background: #f5f5f5;
        border-left: 6px solid $primary;
        padding: 15px 15px 15px 45px;
        position: relative;
        font-size: 14px;
        line-height: 1.5;
        font-style: italic;

        @include media-breakpoint-up(sm) {
            padding: 20px 20px 20px 60px;
        }

        @include media-breakpoint-up(md) {
            font-size: 16px;
            padding: 25px 25px 25px 108px;
            border-left-width: 10px;
        }

        @include media-breakpoint-up(lg) {
            padding: 30px 30px 30px 108px;
            font-size: 18px;
            line-height: 1.85;
            border-left-width: 14px;
        }

        @include media-breakpoint-up(xxl) {
            padding: 35px 40px 33px 108px;
            font-size: 20px;
            line-height: 2.25;
        }

        &:before {
            content: '“';
            font-size: 70px;
            line-height: 0.5;
            color: #d4d4d4;
            font-weight: 700;
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            margin-top: 2.5%;

            @include media-breakpoint-up(sm) {
                left: 7px;
                font-size: 100px;
            }

            @include media-breakpoint-up(md) {
                left: 13px;
                font-size: 154px;
                margin-top: 2.5%;
            }
        }
        
        q {
            quotes: none;
            display: block;
        }
    }
}

/* Emtry Meta Styles */
.entry-meta {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    display: flex;
    flex-flow: row wrap;
    line-height: 1.5;

    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }
    
    li {
        padding: 0 15px 30px;
        display: flex;
        align-items: center;
        color: #a7a7a7;
    }

    .icon {
        font-size: 20px;
        line-height: 1;
        color: $primary;
        margin: 0 10px 0 0;

        @include media-breakpoint-up(md) {
            font-size: 24px;
            margin: 0 15px 0 0;
        }
    }
}

/* Poat Image Styles */
.post-image {
    overflow: hidden;
    margin: 0 0 35px;
    border-radius: 5px;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

}

/* Post Tags and Post social Styles */
.post-tags,
.post-social {
    display: flex;

    @include media-breakpoint-down(md) {
        width: 100%;
        margin: 0 0 20px;
    }

    .title {
        display: block;
        margin: 4px 10px 0 0;

        @include media-breakpoint-up(md) {
            margin: 0 10px 0 0;
        }

        @include media-breakpoint-up(xl) {
            font-size: 18px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}

/* Tag Cloud Styles */
.tagcloud {
    display: flex;
    flex-flow: row wrap;

    > a {
        font-size: 12px;
        line-height: 1.5;
        color: #a7a7a7;
        display: inline-block;
        font-weight: 500;
        border: 1px solid #aeaeae;
        padding: 4px 10px;
        border-radius: 20px;
        margin: 0 6px 0 0;
        transition: all 0.3s ease-in-out;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
            padding: 6px 15px;
        }

        &:hover {
            color: $white;
            background: $primary;
            border-color: $primary;
        }
    }
}

/* Social Share Styles */
.social-share {
    font-size: 24px;
    line-height: 1;

    li {
        padding: 0 5px;
    }

    .icon-facebook {
        color: #1b3d8d;
    }

    .icon-twitter{
        color: #1d9bf0;
        font-size: 28px;
    }

    .icon-instagram {
        color: #E1306C;
        font-size: 26px;
    }
}

/* Post Author Styles */
.post-author {
    padding: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 0 35px;
    text-align: center;

    @include media-breakpoint-up(md) {
        padding: 25px;
        text-align: left;
        display: flex;
        align-items: flex-start;
    }

    .author-avatar {
        width: 65px;
        height: 65px;
        overflow: hidden;
        border-radius: 100%;
        flex-shrink: 0;
        margin: 0 auto 15px;

        @include media-breakpoint-up(md) {
            width: 110px;
            height: 110px;
            margin: 0 25px 0 0;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center top;
        }
    }

    .author-bio {
        flex-grow: 1;
        min-width: 0;

        .title {
            display: block;
            font-size: 18px;
            line-height: 1.5;
            color: $black;
            font-weight: 700;
            margin: 0 0 7px;

            @include media-breakpoint-up(md) {
                font-size: 20px;
            }

            span {
                color: #999;
                font-size: 14px;
                
                @include media-breakpoint-up(md) {
                    font-size: 16px;
                }
            }
        }

        p {
            margin: 0 0 15px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

/* gallery Post Styles */
.gallery-slider {
    &.post-styles {
        padding: 0;
        margin: 0 -10px 45px;
        background: transparent;

        .slick-slide {
            padding: 0 5px;

            @include media-breakpoint-up(xxl) {
                padding: 0 15px;
            }
        }
    }

    .news-post {
        border-radius: 5px;
        border: 1px solid #d8d8d8;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
            line-height: 1.5;
        }

        @include media-breakpoint-up(xl) {
            font-size: 16px;
            line-height: 1.688;
        }

        .image-holder {
            border-radius: 0 !important;
        }

        .textbox,
        .post-footer {
            padding: 0 15px;

            @include media-breakpoint-up(lg) {
                padding: 0 12px;
            }

            @include media-breakpoint-up(xl) {
                padding: 0 18px;
            }
        }

        h4, .h5 {
            font-size: 20px;
            margin: 0 0 8px;

            a {
                color: $body-color;

                &:hover {
                    color: $primary;
                }
            }
        }

        p {
            margin: 0 0 20px;
        }

        .post-meta {
            width: calc(100% + 10px);
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;

            @include media-breakpoint-up(xxl) {
                font-size: 14px;
            }

            li {
                margin: 0 0 5px;
            }

            .icon {
                margin-right: 7px;
                font-size: 16px;

                @include media-breakpoint-up(lg) {
                    font-size: 17px;
                }

                @include media-breakpoint-up(xxl) {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

/* Commentlist Styles */
.commentlist {
	margin: 0 0 35px;

    @include media-breakpoint-up(xl) {
        line-height: 1.875;
    }

	.edit-link {
		margin: 0;
	}

	.avatar-holder {
		float: left;
        margin: 0 15px 0 0;

        @include media-breakpoint-up(xl) {
		    margin: 0 20px 0 0;
        }
	}

    .commentlist-holder {
        overflow: hidden;
    }

    p {
        margin: 0 0 15px;

        &:last-child {
            margin: 0;
        }
    }

    .meta {
        margin: 0 0 7px;

        strong {
            font-size: 16px;
            color: $black;

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }
    }

    .comment-reply-link {
        margin-left: 10px;
        font-weight: 600;
    }
}

/* Comment Item Styles */
.commentlist-item {
    border-radius: 5px;
    border: 1px solid #d8d8d8;

    .comment {
        padding: 15px;
        overflow: hidden;

        @include media-breakpoint-up(xl) {
            padding: 30px;
        }
    }

	.commentlist-item {
		padding-left: 6%;
        border-radius: 0;
        border: 0;
        border-top: 1px solid #d8d8d8;

		@include media-breakpoint-up(md) {
            padding-left: 10%;
		}
	}

    .avatar-holder {
        width: 55px;
        margin-top: 6px;

        @include media-breakpoint-up(md) {
            width: 75px;
        }

        @include media-breakpoint-up(xl) {
            width: 93px;
            margin-top: 10px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

/* Comment Respond Styles */
.comment-respond {
    padding-top: 20px;

    .comment-reply-title {
        margin-bottom: 30px;
    }
}

/* Comment Form Styles */
.comment-form {

    p {
        margin: 0 0 15px;

        @include media-breakpoint-up(md) {
            margin: 0 0 25px;
        }
    }

	label {
		display: block;
		padding-bottom: 4px;
	}

	textarea {
		overflow: auto;
		margin: 0;
		height: 150px;
		min-height: 120px;
        border-radius: 7px;

        @include media-breakpoint-up(md) {
            height: 250px;
        }

        @include media-breakpoint-up(xl) {
            height: 330px;
        }
	}

	textarea,
	input[type='text'] {
		width:100%;

        @include media-breakpoint-up(xxl) {
            font-size: 18px;
            line-height: 34px;
        }
	}
}

/* Sidebar Styles */
.sidebar {
    border: 1px solid #ccc;
}

/* Sidebar Widgets Styles */
.widget {
	padding: 25px 20px;

    @include media-breakpoint-up(lg) {
        padding: 20px 15px 25px;
    }

    @include media-breakpoint-up(xxl) {
        padding: 25px 20px;
    }

    @include media-breakpoint-up(xxxl) {
        padding: 30px;
    }

    h3, h3, h4, .h4, h5, .h5 {
        margin: 0 0 15px;
        color: $black;
    }

    .search-form {
        margin: 0;
    }

	ul {
		padding: 0;
        margin: 0;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        color: #a7a7a7;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0 5px 5px;

            + li {
                border-top: 1px solid #ccc;
            }

            &:last-child {
                padding-bottom: 0;
            }

            a {
                font-size: 16px;
                font-weight: 600;
                color: $black;

                &:hover {
                    color: $primary;
                }
            }
        }
	}

	select {
		min-width: 150px;
	}

    .search-form {
        position: relative;

        input {
            height: 50px;
            font-size: 16px;
            line-height: 30px;
            padding: 9px 20px;
            padding-right: 75px;

            &[type='search'] {
                width: 100%;
            }
        }

        .btn-search {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            width: 60px;
            border: 0;
            border-radius: 0 25px 25px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $primary;
            padding: 0 3px 2px 0;
            color: $white;
            transition: all 0.3s ease-in-out;

            i {
                font-size: 18px;
                line-height: 1;
            }

            &:hover {
                background: $info;
            }
        }
    }

    .tagcloud {
        padding-top: 6px;
        margin-bottom: -6px;

        > a {
            margin-bottom: 6px;
        }
    }

    + .widget {
        border-top: 1px solid #ccc;
    }
}

/* Recent Posts Styles */
.recent-posts {
    padding: 0;
    line-height: 1.35;

    li {
        padding: 0 0 21px !important;
        border: 0 !important;

        &:last-child {
            padding: 0 !important;
        }
    }

    .thumbnail {
        width: 66px;
        height: 66px;
        border-radius: 5px;
        overflow: hidden;
        flex-shrink: 0;
        margin-top: 4px;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }

    .textbox {
        flex-grow: 1;
        min-width: 0;
        padding-left: 15px;
    }

    .title {
        display: block;
        margin: 0 0 7px;

        a {
            @include media-breakpoint-up(lg) {
                font-size: 15px;
            }
        }
    }

    .date {
        display: flex;
        align-items: center;
        color: $black;
        font-size: 14px;
        font-weight: 400;

        i {
            color: $primary;
            font-size: 16px;
            margin: 0 10px 0 0;
        }
    }

    p {
        font-weight: 400;
        margin: 0;
        color: $body-color;
    }
}

/* Select 2 Styles */
.select2-container--default {
    min-width: 190px;
    font-size: 16px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
    }

    .select2-selection--single {
        border-radius: 50px !important;
        color: $black;
        height: auto;
        border-color: #c0c0c0;
        text-align: left;

        .select2-selection__rendered {
            padding: 11px 45px 11px 22px;
        }

        .select2-selection__rendered,
        .select2-selection__placeholder {
            font-family: $font-family-open-sans;
        }

        .select2-selection__arrow {
            top: 50%;
            right: 15px;
            transform: translateY(-50%);

            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-family: 'icomoon';
                content: '\e917';
                line-height: 1;
                font-size: 18px;
                
            }

            b {
                display: none;
            }
        }
    }
    
    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                &:before {
                    font-family: 'icomoon';
                }
            }
        }
    }
    
    .select2-results__option--highlighted {
        &.select2-results__option--selectable {
            background: $primary;
        }
    }

    .select2-results__option--selected {
        color: $white;
        background: $secondary;
    }
}

/* Select2 dropdown Styles */
.select2-dropdown {
    border: 0;
    border-radius: 2px !important;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 0;

    .select2-results__option {
        padding: 6px 12px;
    }
}

.select2-container--open {
    .select2-dropdown--below {
        margin-top: 10px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.25);
    }

    .select2-dropdown--above {
        margin-top: -10px;
        box-shadow: 0 -3px 10px rgba(0,0,0,0.25);
    }
}

/* Select2 Small Styles */
.select2 {
    &.small {
        + .select2-container--default {
            font-size: 14px;
            min-width: 125px;

            .select2-selection--single {
                border-radius: 7px !important;

                .select2-selection__rendered {
                    padding: 5px 30px 5px 12px;
                    line-height: 22px;
                }

                .select2-selection__arrow {
                    right: 10px;
                }
            }
        }
    }
}

/* Select2 Medium Styles */
.select2 {
    &.medium {
        + .select2-container--default {
            font-size: 16px;
            min-width: 125px;

            .select2-selection--single {
                border-radius: 40px !important;

                .select2-selection__rendered {
                    padding: 17px 30px;
                    line-height: 35px;

                    @include media-breakpoint-down(xl) {
                        padding: 13px 30px;
                    }

                    @include media-breakpoint-down(lg) {
                        font-size: 16px;
                        padding: 10px 25px;
                    }
                }

                .select2-selection__arrow {
                    right: 25px;

                    &:before {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}