.header {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gray-800;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .sticky-header & {
        position: fixed;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }

    .logo {
        width: 165px;
        min-width: 165px;
        flex-shrink: 0;
        display: block;
        background: $primary;
        padding: 10px 15px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        @include media-breakpoint-up(md) {
            width: 175px;
            min-width: 175px;
        }

        @include media-breakpoint-up(xl) {
            width: 250px;
            min-width: 250px;
            height: 100px;
        }

        @include media-breakpoint-up(xxl) {
            width: 275px;
            min-width: 275px;
        }

        @include media-breakpoint-up(xxxl) {
            width: 300px;
            min-width: 300px;
        }

        .sticky-header & {
            height: 65px;

            @include media-breakpoint-up(xl) {
                height: 80px;
            }
        }

        a {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .sticky-logo {
            display: none;
        }
    }
}

.nav-opener,
.nav-close {
    width: 36px;
    height: 32px;
    position: relative;

    &:before,
    &:after,
    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background: $white;
        content: '';
        transition: all 0.3s ease-in-out;
    }

    &:before {
        top: 4px;
    }

    &:after {
        bottom: 4px;
    }

    span {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        &:before,
        &:after,
        span {
            background: $primary;
        }
    }
}

.nav-close {
    position: absolute;
    right: 20px;
    top: 20px;

    &:before {
        .nav-active & {
            top: 14px;
            transform: translateX(-50%) rotate(45deg);
        }
    }

    &:after {
        .nav-active & {
            bottom: 14px;
            transform: translateX(-50%) rotate(-45deg);
        }
    }

    span {
        .nav-active & {
            opacity: 0;
        }
    }
}

.main-nav {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 0 15px 0 10px;

    @include media-breakpoint-up(sm) {
        padding: 0 20px;
    }

    @include media-breakpoint-up(xl) {
        padding: 0 15px;
        flex-direction: row;
    }

    @include media-breakpoint-up(xxl) {
        padding: 0 2%;
    }

    @include media-breakpoint-up(xxxl) {
        padding: 0 3.8%;
    }
}

.contact-num {
    font-size: 24px;
    letter-spacing: 0.5px;
    flex-shrink: 0;
    padding: 0 30px 70px;

    @include media-breakpoint-up(xl) {
        font-size: 18px;
        padding: 0;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 21px;
    }

    @include media-breakpoint-up(xxxl) {
        font-size: 24px;
    }

    span {
        color: $primary;
        font-size: 18px;
        line-height: 1.2;
        font-family: $font-family-playfair;
        display: block;

        @include media-breakpoint-up(xl) {
            font-size: 13px;
            display: inline;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 15px;
        }
    
        @include media-breakpoint-up(xxxl) {
            font-size: 18px;
        }
    }

    a {
        color: $white;
        font-weight: 500;

        &:hover {
            color: $primary;
        }
    }
}

.nav-drop {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    @include media-breakpoint-down(xl) {
        display: block;
        flex-grow: inherit;
        background: $blue-dark;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        width: 280px;
        overflow: auto;
        transform: translateX(105%);
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .nav-active & {
        @include media-breakpoint-down(xl) {
            transform: none;
        }
    }
}

.navigation {
    font-size: 16px;
    line-height: 1.5;
    list-style: none;
    padding: 70px 30px;
    margin: 0;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        align-items: center;
        padding: 0;
        letter-spacing: 2px;
        justify-content: flex-end;
        flex-grow: 1;
        min-width: 0;
        font-size: 16px;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 17px;
    }

    @include media-breakpoint-up(xxxl) {
        font-size: 18px;
    }

    > li {
        position: relative;
        
        &:not(:first-child) {

            @include media-breakpoint-up(xl) {
                padding: 0 0 0 5%;
            }
            
            @include media-breakpoint-up(xxxl) {
                padding: 0 0 0 7%;
            }
        }

        > a {
            display: flex;
            align-items: center;

            &:not(.btn) {
                color: $white;
                padding: 10px 0;

                &:hover {
                    color: $primary;
                }
            }

            .icon-user {
                font-size: 28px;
                margin-right: 8px;

                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                }

                @include media-breakpoint-up(xl) {
                    font-size: 24px;
                    margin-right: 12px;
                }

                @include media-breakpoint-up(xxxl) {
                    font-size: 28px;
                }
            }

            &.dropdown-toggle {
                &:after {
                    border: 0;
                    font-family: 'icomoon';
                    content: '\e917';
                    line-height: 1;

                    @include media-breakpoint-down(lg) {
                        margin-left: auto;
                    }
                }
            }

            &.btn-info {
                padding-top: 12px;
                padding-bottom: 12px;

                @include media-breakpoint-down(lg) {
                    text-align: center;
                    justify-content: center;
                    margin-top: 15px;
                }
            }

            &.dropdown-toggle {
                &.show {
                    @include media-breakpoint-down(lg) {
                        color: $primary;
                    }
                }
            }
        }

        &:hover {
            .dropdown-toggle {
                color: $primary;
            }
        }

        &.active {
            > a {
                color: $primary;
            }
        }

        &:hover {
            .dropdown-menu {
                @include media-breakpoint-up(xl) {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                }
            }
        }
    }

    .dropdown-menu {
        background: $white;
        border: 0;

        @include media-breakpoint-up(xl) {
            display: block;
            min-width: 220px;
            box-shadow: 0 0 10px rgba(0,0,0,0.15);
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            margin-top: 20px;
            left: 50%;
            transform: translateX(-50%);
            letter-spacing: 1px;
        }

        @include media-breakpoint-up(xxl) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xl) {
            position: static !important;
            transform: none !important;
            border-radius: 0;
            background: transparent;
        }

        li {
            &.active {
                > a {
                    color: $primary;
                }
            }
        }

        .dropdown-item {
            padding: 7px 15px;
            
            @include media-breakpoint-down(xl) {
                color: $white;
                border-radius: 5px;
            }

            &:hover {
                color: $white;
                background: $primary;
            }
        }
    }
}


.header-options {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: $white;
    margin: 0 12px 0 0;
    
    @include media-breakpoint-up(sm) {
        margin: 0 15px 0 0;
    }

    @include media-breakpoint-up(md) {
        margin: 0 20px 0 0;
    }

    @include media-breakpoint-up(xl) {
        margin: 0;
    }

    .country-options {
        margin: 0 10px 0 0;
        
        @include media-breakpoint-up(sm) {
            margin: 0 15px 0 0;
        }

        @include media-breakpoint-up(md) {
            margin: 0 20px 0 0;
        }

        @include media-breakpoint-up(xl) {
            margin: 0 25px 0 35px;
        }

        @include media-breakpoint-up(xxl) {
            margin: 0 50px 0 60px;
        }

        @include media-breakpoint-up(xxxl) {
            margin: 0 70px 0 80px;
        }
    }
}

.country-select {
    display: block;
    width: 45px;
    height: 26px;
    position: relative;
    color: $black;
    font-size: 10px;

    .selected-flag {
        padding: 0;

        .arrow {
            border: 0;
            height: 26px;
            position: absolute;
            right: 1px;
            width: 20px;
            top: 50%;
            right: 0;
            transform: translateY(-42%);
            border: 0 !important;

            &:before {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-family: "icomoon";
                content: "\e917";
                line-height: 1;
                font-size: 15px;
                color: $white;
            }
        }
    }

    .country-list {
        width: 150px;
        white-space: normal;
        margin: 10px 0 0 -5px;
        border-radius: 2px;
        border: 0;
        background: $white;
        line-height: 1.25;
        max-height: 220px;

        .country {
            display: flex;
            align-items: center;
        }

        .flag {
            flex-shrink: 0;
        }

        .country-name {
            flex-grow: 1;
            min-width: 0;
        }
    }
}

.curreny-options {
    .select2-container--default {
        background: transparent;
        min-width: 57px;
        width: 57px !important;
        text-transform: uppercase;
        font-size: 14px;

        .select2-selection--single {
            border: 0;
            background: transparent;
            border-radius: 0;

            .select2-selection__rendered {
                padding: 0 0 0 5px;
                color: $primary;
            }

            .select2-selection__placeholder {
                color: $white;
            }

            .select2-selection__arrow {
                color: $white;
                right: 0;

                &:before { 
                    font-size: 15px;
                }
            }
        }
    }
}