.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ra816i");
  src: url("../fonts/icomoon.eot?ra816i#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ra816i") format("truetype"), url("../fonts/icomoon.woff?ra816i") format("woff"), url("../fonts/icomoon.svg?ra816i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document-code:before {
  content: "\e921";
}

.icon-mail:before {
  content: "\e905";
}

.icon-email:before {
  content: "\e905";
}

.icon-letter:before {
  content: "\e905";
}

.icon-envelope:before {
  content: "\e905";
}

.icon-contact:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e906";
}

.icon-date:before {
  content: "\e906";
}

.icon-schedule:before {
  content: "\e906";
}

.icon-arrow-right:before {
  content: "\e907";
}

.icon-arrow-left1:before {
  content: "\e908";
}

.icon-arrow-down1:before {
  content: "\e909";
}

.icon-arrow-up1:before {
  content: "\e90a";
}

.icon-phone:before {
  content: "\e90b";
}

.icon-mail1:before {
  content: "\e90c";
}

.icon-calendar1:before {
  content: "\e90d";
}

.icon-eye-off:before {
  content: "\e90e";
}

.icon-eye:before {
  content: "\e90f";
}

.icon-clock:before {
  content: "\e910";
}

.icon-bookmark:before {
  content: "\e911";
}

.icon-plus:before {
  content: "\e912";
}

.icon-user:before {
  content: "\e913";
}

.icon-chevron-right:before {
  content: "\e914";
}

.icon-chevron-left:before {
  content: "\e915";
}

.icon-chevron-up:before {
  content: "\e916";
}

.icon-chevron-down:before {
  content: "\e917";
}

.icon-map-pin:before {
  content: "\e918";
}

.icon-search:before {
  content: "\e919";
}

.icon-youtube:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right1:before {
  content: "\e902";
}

.icon-arrow-down:before {
  content: "\e903";
}

.icon-arrow-up:before {
  content: "\e904";
}

.icon-comments:before {
  content: "\e91a";
}

.icon-chat:before {
  content: "\e91a";
}

.icon-talk:before {
  content: "\e91a";
}

.icon-bubble:before {
  content: "\e91a";
}

.icon-youtube-play:before {
  content: "\e91b";
}

.icon-twitter:before {
  content: "\e91c";
}

.icon-instagram:before {
  content: "\e91d";
}

.icon-facebook:before {
  content: "\e91e";
}

.icon-facebook-f:before {
  content: "\e91e";
}

.icon-star-half:before {
  content: "\e91f";
}

.icon-star:before {
  content: "\e920";
}

body {
  min-width: 360px;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  p {
    margin: 0 0 15px;
  }
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#wrapper {
  width: 100%;
  position: relative;
}

.btn {
  overflow: hidden;
  position: relative;
  border: none;
}
.btn:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  content: "";
  border-radius: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover:before {
  width: 100%;
}
.btn.btn-primary {
  color: #fff;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:first-child:active {
  color: #fff;
}
.btn.btn-primary:hover:before {
  background: #21e5c6;
}
.btn.btn-info {
  color: #fff;
}
.btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:first-child:active {
  color: #fff;
}
.btn.btn-info:hover:before {
  background: #ffca1d;
}
.btn.btn-link {
  color: #000;
  text-decoration: underline;
}
.btn.btn-link:hover, .btn.btn-link:focus {
  color: #ffca1d;
}
.btn .btn-text {
  position: relative;
  z-index: 1;
}

/* Slick slider styles */
.slick-slider {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 72px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo {
  width: 222px;
  display: block;
}
@media (min-width: 992px) {
  .header .logo {
    width: 155px;
  }
}
@media (min-width: 1200px) {
  .header .logo {
    width: 200px;
  }
}
@media (min-width: 1560px) {
  .header .logo {
    width: 222px;
  }
}
.header .logo a {
  display: block;
}
.header .logo img {
  width: 100%;
  height: auto;
  display: block;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (min-width: 992px) {
  .navigation {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    font-size: 24px;
  }
}
.navigation > li {
  position: relative;
}
.navigation > li:not(:last-child) {
  padding: 0 40px;
}
.navigation > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation > li > a:not(.btn) {
  color: #fff;
  padding: 10px 0;
}
.navigation > li > a:not(.btn):hover {
  color: #ffca1d;
}
.navigation > li > a .icon-user {
  font-size: 28px;
  margin-right: 12px;
}
.navigation > li > a.dropdown-toggle:after {
  border: 0;
  font-family: "icomoon";
  content: "\e917";
  line-height: 1;
}
.navigation > li > a.btn-info {
  padding-top: 12px;
  padding-bottom: 12px;
}
.navigation > li.active > a {
  color: #ffca1d;
}
@media (min-width: 992px) {
  .navigation > li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }
}
.navigation .dropdown-menu {
  background: #fff;
  border: 0;
}
@media (min-width: 992px) {
  .navigation .dropdown-menu {
    display: block;
    min-width: 220px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.navigation .dropdown-menu .dropdown-item {
  padding: 7px 15px;
}
.navigation .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #ffca1d;
}

/* Visal Block Styles */
.visal-block {
  position: relative;
  overflow: hidden;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 30px;
  line-height: 1.6;
}
.visal-block:after {
  position: absolute;
  right: -26.4%;
  top: 0;
  bottom: 0;
  width: 960px;
  content: "";
  background: #fff;
  -webkit-transform: skewX(-41.9deg);
          transform: skewX(-41.9deg);
}
.visal-block .top-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  max-width: 932px;
}
.visal-block .top-shape img {
  width: 100%;
  height: auto;
  display: block;
}
.visal-block .container {
  z-index: 1;
}

/* Visual Textbox Styles */
.visual-textbox {
  width: 100%;
  max-width: 755px;
  padding-top: 78px;
}
.visual-textbox h1 {
  position: relative;
  padding-bottom: 21px;
  margin: 0 0 15px;
}
.visual-textbox h1:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 145px;
  height: 6px;
  background: #21e5c6;
  content: "";
}
.visual-textbox p {
  margin: 0 0 36px;
}

/* Form Search Styles */
.form-search {
  overflow: hidden;
}
.form-search .fields-holder {
  border-radius: 100px;
  margin: 0 0 58px;
}
.form-search .form-group {
  width: 52%;
  position: relative;
  padding: 22px 35px 22px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-search .form-group:first-child {
  width: 48%;
}
.form-search .form-group + .form-group {
  border-left: 1px solid #e3e4e5;
}
.form-search .form-group .icon {
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  line-height: 1;
  color: #000;
}
.form-search .form-control {
  border: 0;
  border-radius: 0;
  font-size: 24px;
  line-height: 1.5;
  padding: 7px 0;
  color: #000;
}
.form-search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #fff;
}
.form-search .form-control::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.form-search .form-control::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.form-search .form-control:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.form-search .form-control::-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.form-search .form-control::placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.form-search .select2 {
  width: 100% !important;
  font-size: 24px;
  line-height: 1.5;
}
.form-search .select2-container--default .select2-selection--single {
  border: 0;
}
.form-search .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  color: #000;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-search .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* Visual Image Styles */
.visual-image {
  margin-right: -9%;
}

/* Recruiter Box Styles */
.recruiter-box {
  position: absolute;
  left: -1.2%;
  top: 9.7%;
}
.recruiter-box:before {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  border: 4px solid #fff;
  position: absolute;
  left: -10px;
  top: -10px;
  content: "";
}
.recruiter-box .recruiter-image {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  overflow: hidden;
  background: #fff;
}
.recruiter-box .recruiter-image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.recruiter-box .title {
  display: block;
  width: 165px;
  background: #fff;
  border-radius: 30px;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 500;
  color: #2c2c2c;
  text-align: center;
  padding: 6px 10px;
  margin-top: -12px;
  margin-left: -15px;
  position: relative;
  z-index: 1;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Users Box Styles */
.users-box {
  background: #fff;
  position: absolute;
  left: -14.8%;
  bottom: 12.6%;
  min-width: 342px;
  padding: 20px 35px 21px;
  border-radius: 20px 0 20px 20px;
  -webkit-box-shadow: 0 50px 146px rgba(0, 0, 0, 0.1);
          box-shadow: 0 50px 146px rgba(0, 0, 0, 0.1);
}
.users-box:after {
  position: absolute;
  right: 0;
  bottom: 100%;
  content: "";
  border-style: solid;
  border-width: 0 0 22px 33px;
  border-color: transparent transparent #fff transparent;
}
.users-box .title {
  display: block;
  border-radius: 30px;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 500;
  color: #2c2c2c;
  margin: 0 0 12px;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.users-box .users-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.users-box .users-list li {
  width: 66px;
  height: 66px;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid #b16ee5;
  margin-right: -13px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b16ee5;
  font-size: 26px;
}
.users-box .users-list li img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

/* Vacancy Box Styles */
.vacancy-box {
  background: #fff;
  position: absolute;
  right: -11%;
  top: 35%;
  max-width: 318px;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 17px 20px 20px;
  border-radius: 15px 15px 15px 0;
  -webkit-box-shadow: 0 -50px 146px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -50px 146px rgba(0, 0, 0, 0.1);
}
.vacancy-box:after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  border-style: solid;
  border-width: 22px 33px 0 0;
  border-color: #fff transparent transparent transparent;
}
.vacancy-box .cursor {
  right: 27px;
  top: 100%;
  width: 25px;
  height: 25px;
  border: 2px solid #fbdf98;
  border-radius: 100%;
  position: absolute;
  margin-top: 8px;
}
.vacancy-box .cursor img {
  position: absolute;
  top: 7px;
  left: -20px;
  -webkit-filter: drop-shadow(-1px 7px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 7px 4px rgba(0, 0, 0, 0.25));
}
.vacancy-box .title {
  display: block;
  border-radius: 30px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #2c2c2c;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.vacancy-box .title span {
  display: block;
  font-size: 18px;
  color: #000;
  margin: 0 0 5px;
}
.vacancy-box .btn {
  padding: 0;
  width: 70px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
}
.vacancy-box .star-ratings {
  margin-top: 12px;
}

/* Star Ratings Styles */
.star-ratings {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ccc;
  font-size: 18px;
  line-height: 1;
}
.star-ratings li {
  padding: 0 2px 0 1px;
}
.star-ratings .filled {
  color: #ffca1d;
}

/* Section Global Styles */
.section {
  padding: 35px 0;
  position: relative;
}

/* Section Header Global Styles */
.section-header {
  overflow: hidden;
  font-size: 24px;
  line-height: 1.5;
  color: #ccc;
  font-weight: 500;
  max-width: 620px;
  margin: 0 auto 40px;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.section-header h2 {
  color: #2c2c2c;
  margin: 0;
  letter-spacing: 1px;
}
.section-header .seprator {
  width: 52px;
  height: 3px;
  border-radius: 3px;
  background: #bfbfbf;
  margin: 17px auto 23px;
  position: relative;
}
.section-header .seprator:before, .section-header .seprator:after {
  width: 11px;
  height: 3px;
  border-radius: 3px;
  background: #bfbfbf;
  position: absolute;
  top: 0;
  content: "";
}
.section-header .seprator:before {
  left: -21px;
}
.section-header .seprator:after {
  right: -21px;
}
.section-header p {
  margin-bottom: 20px;
}
.section-header p:last-child {
  margin-bottom: 0;
}

/* Category Box Styles */
.category-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2c2c2c;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.category-box .textbox {
  padding: 28px;
  padding-bottom: 20px;
}
.category-box .textbox .icon {
  position: absolute;
  right: -22px;
  top: -27px;
  color: #dfdfdf;
  font-size: 80px;
  line-height: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.category-box .textbox h3 {
  line-height: 1.458;
}
.category-box .textbox p {
  line-height: 1.875;
  margin: 0 0 11px;
}
.category-box .post-footer {
  margin-top: auto;
  padding: 23px 25px;
  background: #f5f5f5;
  position: relative;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.category-box .post-footer .num-jobs {
  display: block;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.category-box .post-footer .icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  border: 5px solid #fff;
  position: absolute;
  top: -28px;
  right: 35px;
  background: #f5f5f5;
  font-size: 50px;
  line-height: 1;
  color: #c4c4c4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.category-box:hover {
  color: #2c2c2c;
  border-color: #fff;
  border-top-right-radius: 45px;
}
.category-box:hover .textbox .icon {
  color: #ffca1d;
}
.category-box:hover .post-footer {
  background: #21e5c6;
}
.category-box:hover .post-footer .num-jobs {
  color: #fff;
}
.category-box:hover .post-footer .icon {
  color: #fff;
  background: #21e5c6;
}

/* Featured Box Styles */
.featured-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #2c2c2c;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 40px 30px;
  position: relative;
}
.featured-box .pin-job {
  position: absolute;
  right: 25px;
  top: 47px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  line-height: 1;
  color: #b9b9b9;
}
.featured-box .pin-job:hover {
  color: #ffca1d;
}
.featured-box .icon-box {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 100%;
  border: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px 30px 0 0;
  background: #fff;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.featured-box .textbox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  min-width: 0;
}
.featured-box h3 {
  margin: 0 0 7px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.featured-box h3 a {
  color: #2c2c2c;
}
.featured-box h3 a:hover {
  color: #ffca1d;
}
.featured-box .subtitle {
  display: block;
  font-size: 20px;
  line-height: 1.5;
  color: #b4b4b4;
  font-weight: 600;
  margin: 0 0 17px;
}
.featured-box .stats-list,
.featured-box .tags-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 16px;
  line-height: 1.5;
  color: #a7a7a7;
}
.featured-box .stats-list {
  margin: 0 -15px 13px;
  font-weight: 600;
  overflow: hidden;
}
.featured-box .stats-list li {
  padding: 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-box .stats-list .icon {
  font-size: 22px;
  line-height: 1;
  color: #ffca1d;
  margin: 0 12px 0 0;
}
.featured-box .tags-list {
  margin: 0 -4px 0 -3px;
}
.featured-box .tags-list li {
  padding: 0 4px 0 3px;
}
.featured-box .tags-list .tag {
  border: 1px solid #aeaeae;
  border-radius: 20px;
  padding: 4px 12px;
  display: block;
  min-width: 110px;
  text-align: center;
}
.featured-box:hover .icon-box {
  background: #f9f9fb;
}

/* Background Overlay Styles */
.bg-overlay {
  background-color: #220389;
  background-size: cover;
  background-position: center top;
  background-blend-mode: overlay;
  position: relative;
  color: #fff;
}
.bg-overlay:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: #220389;
  opacity: 0.9;
}
.bg-overlay .container {
  position: relative;
  z-index: 1;
}
.bg-overlay.bg-primary {
  background-color: #ffca1d;
  background-blend-mode: normal;
}
.bg-overlay.bg-primary:after {
  background: #ffca1d;
  opacity: 0.92;
}

/* Section Notified Styles */
.section-notified {
  font-size: 24px;
  line-height: 1.583;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.section-notified .image-holder {
  overflow: hidden;
  margin: 3px -4px 3px -10px;
}
.section-notified .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}
.section-notified .textbox {
  padding-left: 7.6%;
}
.section-notified h2 {
  margin-bottom: 19px;
}
.section-notified p {
  font-weight: 400;
  margin: 0 0 38px;
}
.section-notified .btn {
  min-width: 268px;
}

/* Section Testimonials Block Styles */
.testimonials-block {
  padding: 62px 75px;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  position: relative;
}
.testimonials-block .map-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 100%;
  max-width: 1006px;
}
.testimonials-block .map-image img {
  width: 100%;
  height: auto;
  display: block;
}
.testimonials-block .quote-icon {
  position: absolute;
  right: 43px;
  bottom: -71px;
  color: #ffca1d;
  font-size: 250px;
  line-height: 1;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.testimonials-block blockquote {
  font-size: 24px;
  line-height: 2.167;
  text-align: center;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0 0 10px;
}
.testimonials-block blockquote q {
  display: block;
  margin: 0 0 28px;
  quotes: none;
}
.testimonials-block blockquote .author-info {
  display: block;
  font-style: normal;
}
.testimonials-block blockquote .author-info .author-name {
  display: block;
  color: #220389;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 -2px;
}

/* Thumbnail Slider Styles */
.thumbnail-slider {
  max-width: 348px;
  margin: 0 auto 26px;
}
.thumbnail-slider .slick-list {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.thumbnail-slider .slick-slide {
  padding: 0;
}
.thumbnail-slider .slick-slide.slick-center .thumbnail {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: #ffca1d;
}
.thumbnail-slider .thumbnail {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 100%;
  border: 7px solid transparent;
  margin: 0 -7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.thumbnail-slider .thumbnail img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

/* Team Member Box Styles */
.team-box {
  overflow: hidden;
  text-align: center;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.team-box .image-holder {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  margin: 0 0 35px;
  -webkit-transition: border-radius 0.7s ease-in-out;
  transition: border-radius 0.7s ease-in-out;
}
.team-box .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}
.team-box .image-holder:hover {
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
.team-box .image-holder:hover .button-overplay {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.team-box .button-overplay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: rgba(34, 3, 137, 0.9);
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.team-box .button-overplay .btn {
  font-weight: 600;
}
.team-box .textbox {
  overflow: hidden;
}
.team-box h3 {
  margin: 0 0 15px;
}
.team-box h3 a {
  color: #2c2c2c;
}
.team-box h3 a:hover {
  color: #ffca1d;
}
.team-box .subtext {
  font-size: 24px;
  line-height: 1.5;
  color: #aeaeae;
  display: block;
  font-weight: 500;
}

/* Section Workspace Styles */
.section-workspace .subtitle {
  position: relative;
  padding-bottom: 27px;
  margin: 0 0 32px;
  display: block;
  letter-spacing: 0.8px;
}
@media (min-width: 992px) {
  .section-workspace .subtitle {
    font-size: 41px;
  }
}
.section-workspace .subtitle:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 4px;
  background: #ffca1d;
  content: "";
}
.section-workspace .h1 {
  letter-spacing: 1.2px;
  line-height: 1.28;
  margin: 0 0 45px;
}
@media (min-width: 1200px) {
  .section-workspace .h1 {
    font-size: 65px;
  }
}
@media (min-width: 1200px) {
  .section-workspace .image-holder {
    margin-right: -10px;
  }
}
.section-workspace .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}

/* News Post Styles */
.news-post {
  overflow: hidden;
  font-size: 18px;
  line-height: 2;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.news-post .image-holder {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 0 0 28px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news-post .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}
.news-post .textbox {
  overflow: hidden;
}
.news-post h3 {
  margin: 0 0 20px;
  line-height: 1.2;
}
.news-post h3 a {
  color: #2c2c2c;
}
.news-post h3 a:hover {
  color: #ffca1d;
}
.news-post p {
  letter-spacing: 0.35px;
  margin: 0 0 20px;
}
.news-post:hover .image-holder {
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}
.news-post:hover h3 a {
  color: #ffca1d;
}

/* Post Meta Styles */
.post-meta {
  padding: 0;
  margin: 0 0 21px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #a7a7a7;
}
.post-meta li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-meta .icon {
  font-size: 28px;
  line-height: 1;
  margin: 0 15px 0 0;
}

/* Post Footer Styles */
.post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-footer .read-more {
  font-size: 24px;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.35px;
}
.post-footer .read-more .icon {
  font-size: 20px;
  line-height: 1;
  margin-left: 20px;
}
.post-footer .read-more:hover {
  color: #ffca1d;
}
.post-footer .post-author {
  font-size: 18px;
  color: #a7a7a7;
}

/* Section Newsletter Styles */
.section-newsletter {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.section-newsletter .image-holder {
  margin-top: -13px;
}
@media (min-width: 1200px) {
  .section-newsletter .image-holder {
    margin-right: -10px;
  }
}
.section-newsletter .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}
.section-newsletter .textbox {
  max-width: 645px;
}
.section-newsletter .subtitle {
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 10px;
  display: block;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.section-newsletter .subtitle:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 124px;
  height: 6px;
  background: #fff;
  content: "";
}
.section-newsletter h2 {
  line-height: 1.28;
  margin: 0 0 27px;
}

.form-newsletter {
  overflow: hidden;
  position: relative;
}
.form-newsletter .form-control {
  height: 71px;
  border: 1px solid #fff;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-left: 35px;
  padding-right: 215px;
}
.form-newsletter .form-control::-webkit-input-placeholder {
  color: #a7a7a7;
}
.form-newsletter .form-control::-moz-placeholder {
  color: #a7a7a7;
}
.form-newsletter .form-control:-ms-input-placeholder {
  color: #a7a7a7;
}
.form-newsletter .form-control::-ms-input-placeholder {
  color: #a7a7a7;
}
.form-newsletter .form-control::placeholder {
  color: #a7a7a7;
}
.form-newsletter .btn {
  position: absolute;
  top: 6px;
  right: 6px;
  min-width: 180px;
}

/* Select 2 Styles */
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.select2-container--default .select2-selection--single .select2-selection__arrow:before {
  position: absolute;
  left: 50%;
  top: 1px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-family: "icomoon";
  content: "\e917";
  line-height: 1;
  font-size: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow:before {
  font-family: "icomoon";
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #ffca1d;
}
.select2-container--default .select2-results__option--selected {
  color: #fff;
  background: #21e5c6;
}

/* Select2 dropdown Styles */
.select2-dropdown {
  border: 0;
  border-radius: 10px !important;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 0;
}
.select2-dropdown .select2-results__option {
  padding: 8px 15px;
}

.select2-container--open .select2-dropdown--below {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.select2-container--open .select2-dropdown--above {
  -webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
}

/* Footer Styles */
.footer {
  overflow: hidden;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Primary Footer Styles */
.pri-footer {
  padding: 48px 0;
}

/* Secondary Footer Styles */
.sec-footer {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
}
.sec-footer p {
  margin: 0;
}