.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ra816i");
  src: url("../fonts/icomoon.eot?ra816i#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ra816i") format("truetype"), url("../fonts/icomoon.woff?ra816i") format("woff"), url("../fonts/icomoon.svg?ra816i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right1:before {
  content: "\e902";
}

.icon-arrow-down:before {
  content: "\e903";
}

.icon-arrow-up:before {
  content: "\e904";
}

.icon-mail:before {
  content: "\e905";
}

.icon-email:before {
  content: "\e905";
}

.icon-letter:before {
  content: "\e905";
}

.icon-envelope:before {
  content: "\e905";
}

.icon-contact:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e906";
}

.icon-date:before {
  content: "\e906";
}

.icon-schedule:before {
  content: "\e906";
}

.icon-arrow-right:before {
  content: "\e907";
}

.icon-arrow-left1:before {
  content: "\e908";
}

.icon-arrow-down1:before {
  content: "\e909";
}

.icon-arrow-up1:before {
  content: "\e90a";
}

.icon-phone:before {
  content: "\e90b";
}

.icon-mail1:before {
  content: "\e90c";
}

.icon-calendar1:before {
  content: "\e90d";
}

.icon-eye-off:before {
  content: "\e90e";
}

.icon-eye:before {
  content: "\e90f";
}

.icon-clock:before {
  content: "\e910";
}

.icon-bookmark:before {
  content: "\e911";
}

.icon-plus:before {
  content: "\e912";
}

.icon-user:before {
  content: "\e913";
}

.icon-chevron-right:before {
  content: "\e914";
}

.icon-chevron-left:before {
  content: "\e915";
}

.icon-chevron-up:before {
  content: "\e916";
}

.icon-chevron-down:before {
  content: "\e917";
}

.icon-map-pin:before {
  content: "\e918";
}

.icon-search:before {
  content: "\e919";
}

.icon-comments:before {
  content: "\e91a";
}

.icon-chat:before {
  content: "\e91a";
}

.icon-talk:before {
  content: "\e91a";
}

.icon-bubble:before {
  content: "\e91a";
}

.icon-youtube-play:before {
  content: "\e91b";
}

.icon-twitter:before {
  content: "\e91c";
}

.icon-instagram:before {
  content: "\e91d";
}

.icon-facebook:before {
  content: "\e91e";
}

.icon-facebook-f:before {
  content: "\e91e";
}

.icon-star-half:before {
  content: "\e91f";
}

.icon-star:before {
  content: "\e920";
}

body {
  min-width: 360px;
}

h1 {
  font-size: 30px;
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  p {
    margin: 0 0 15px;
  }
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#wrapper {
  width: 100%;
  position: relative;
}

.btn.btn-link {
  color: #000;
  text-decoration: underline;
}
.btn.btn-link:hover, .btn.btn-link:focus {
  color: #78b258;
}

/* Slick slider styles */
.slick-slider {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 75px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo {
  width: 222px;
  display: block;
}
@media (min-width: 992px) {
  .header .logo {
    width: 155px;
  }
}
@media (min-width: 1200px) {
  .header .logo {
    width: 200px;
  }
}
@media (min-width: 1560px) {
  .header .logo {
    width: 222px;
  }
}
.header .btn {
  min-width: 125px;
  padding: 8px 20px 10px;
  letter-spacing: 0.75px;
}
@media (min-width: 992px) {
  .header .btn {
    font-size: 13px;
    min-width: 100px;
    padding: 8px 15px 10px;
  }
}
@media (min-width: 1200px) {
  .header .btn {
    font-size: 15px;
    min-width: 125px;
    padding: 8px 20px 10px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .navigation {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .navigation {
    font-size: 24px;
  }
}
.navigation > li {
  padding: 0 40px;
}
.navigation > li > a {
  color: #fff;
}
.navigation > li > a i {
  font-size: 11px;
}
.navigation .dropdown-menu {
  background: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 15px;
}

/* Visal Block Styles */
.visal-block {
  position: relative;
  overflow: hidden;
}
.visal-block .top-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  max-width: 932px;
}
.visal-block .top-shape img {
  width: 100%;
  height: auto;
  display: block;
}

/* Form Search Styles */